div.flashes{
	position: fixed;
	right: 30px;
	top: 30px;
	max-width: 300px;
	outline: none;
	
	-webkit-animation-duration: 0.2s;
	-ms-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	animation-duration: 0.2s;
	
	-webkit-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	
	-webkit-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	
	z-index: 1;
}
	
	div.flashes div.flash{
		position: relative;
		margin-top: 20px;
		padding: 15px 10px 15px 20px;
		background-color: #60c060;
		color: #fff;
	}
	
	div.flashes div.flash:first-child{
		margin-top: 0;
	}
	
	div.flashes div.flash.error{
		background-color: #c0251D;
	}
		
		div.flashes div.flash div.flash-text{
			padding-right: 25px;
		}
		
		div.flashes div.flash div.flash-close{
			position: absolute;
			right: 10px;
			top: 15px;
			width: 20px;
			height: 20px;
			background: url($asset/images/flash_close.png);
			border: 0;
			cursor: pointer;
		}
		
		div.flashes div.flash div.flash-close:hover{
			background: url($asset/images/flash_close_hover.png);
		}
