div.flash-panel{
	display: none;
	position: absolute;
	padding: 17px;
	background-color: white;
	border: solid 1px #b3b3b3;
	
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
	color: #505050;
	cursor: default;
	text-align: left;
	z-index: 40;
}

div.flash-panel:hover{
	display: block !important;
}
	
	div.flash-panel div.tooltip div.tt-text,
	div.flash-panel div.drop-down-list ul.ddl-list{
		z-index: 60;
	}
	
	div.flash-panel div.data-table table tr.dt-attr td.cell-value input[type=text],
	div.flash-panel div.data-table table tr.dt-attr td.cell-value input[type=password],
	div.flash-panel div.data-table table tr.dt-attr td.cell-value div.errorMessage{
		width: 268px;
	}
	
	div.flash-panel > div + div,
	div.flash-panel > div + form,
	div.flash-panel > form + div,
	div.flash-panel > form > div + div{
		margin-top: 20px;
	}
