div.note-main{
    display: inline-block;
    width: 46%;
    margin-top: 140px;
}

div#link-list{
	margin: 20px 30px 0;
	text-align: center;
}
	
	div#link-list a{
		display: inline-block;
		position: relative;
		width: 30%;
		margin-left: 2%;
		background: #fafafa;
		box-shadow: 0 0 10px #ddd;
		color: #484848;
		overflow-y: hidden;
		text-align: left;
		text-decoration: none;
	}
	
	div#link-list a:first-child{
		margin-left: 0;
	}
	
	/* div#link-list a.appeal,
	div#link-list a.answer{
		padding-top: 10px;
	} */
	
	div#link-list a:focus,
	div#link-list a:hover{
		background: #f6f6f6;
	}
		
		div#link-list a table{
			height: 100%;
		}
			div#link-list a table tr td.ll-icon{
				width: 100px;
				height: 155px;
			}
			
			div#link-list a.appeal  table tr td.ll-icon{
				background: url($asset/images/appeal.png) center center no-repeat;
			}
			
			div#link-list a.tariff  table tr td.ll-icon{
				background: url($asset/images/tariff.png) center center no-repeat;
			}
			
			div#link-list a.index  table tr td.ll-icon{
				background: url($asset/images/index.png) center center no-repeat;
			}
			
			div#link-list a.answer  table tr td.ll-icon{
				background: url($asset/images/answer.png) center center no-repeat;
			}
			
			div#link-list a table tr td.ll-title{
				padding-left: 10px;
				vertical-align: middle;
			}
			
			div#link-list a table tr td.ll-title div{
				max-height: 155px;
			}

h4{
	margin-left: 20%;
	text-align: left;
}

ul#news-list{
	margin: 20px 15%;
	text-align: left;
}
	
	ul#news-list li{
		margin-top: 10px;
	}
	
	ul#news-list li:first-child{
		margin-top: 0;
	}
		
		ul#news-list li a{
			display: block;
			position: relative;
			padding: 5px 5px 5px 20px;
			
			background: -moz-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(50%, #fafafa), color-stop(100%, #f0f0f0));
			background: -webkit-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
			background: -o-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
			background: -ms-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
			background: linear-gradient(to bottom, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
			
			border: solid 1px #eee;
			color: inherit;
			font-size: 14px;
			text-decoration: none;
		}
		
		ul#news-list li a:hover,
		ul#news-list li a:focus{
			background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6, 50%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(50%, #f6f6f6), color-stop(100%, #ededed));
			background: -webkit-linear-gradient(top, #ededed 0%, #f6f6f6, 50%, #ededed 100%);
			background: -o-linear-gradient(top, #ededed 0%, #f6f6f6, 50%, #ededed 100%);
			background: -ms-linear-gradient(top, #ededed 0%, #f6f6f6, 50%, #ededed 100%);
			background: linear-gradient(to bottom, #ededed 0%, #f6f6f6, 50%, #ededed 100%);
		}
		
		ul#news-list li a div.news-title{
			margin-left: 20px;
			margin-right: 80px;
			font-weight: bold;
		}
		
		ul#news-list li a div.news-date{
			position: absolute;
			right: 5px;
			top: 5px;
		}
		
		ul#news-list li a div.news-text{
			max-height: 60px;
			overflow: hidden;
		}

div#news-main{
    display: inline-block;
    width: 52%;
    margin: 0 !important;
    padding: 20px 105px 0 160px;
}

    div#news-main a.news-up,
    div#news-main a.news-down{
        display: inline-block;
        width: 81px;
        height: 20px;
        margin: 10px;
        visibility: hidden;
    }

	div#news-main a.news-up{
		background: url($asset/images/news_up.png);
	}

	div#news-main a.news-up:focus,
	div#news-main a.news-up:hover{
		background: url($asset/images/news_up_hover.png);
	}

	div#news-main a.news-down{
		background: url($asset/images/news_down.png);
	}

	div#news-main a.news-down:focus,
	div#news-main a.news-down:hover{
		background: url($asset/images/news_down_hover.png);
	}

    div#news-main ul#news-main-list li{
        display: none;
    }

    div#news-main ul#news-main-list a{
        color: #555;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    div#news-main ul#news-main-list a:focus,
    div#news-main ul#news-main-list a:hover{
        color: black;
    }
/*
#144c75	20,76,117
#		22,85,131
#175e91 23,94,145
#		26,112,173
 */