input, textarea, select, button{
	font-size: 14px;
}

textarea{
	height: 200px;
	resize: none;
	text-align: justify;
}

input[type=checkbox],
input[type=radio]{
	display: block !important;
 	position: absolute;
	left: -9999px;
}

input[type=checkbox].dsp-none,
input[type=radio].dsp-none{
	display: block !important;
}

span.checkbox,
span.radio{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 2px 5px;
	background-image: url($asset/images/checkbox.png);
	background-position: -20px 0;
	text-align: left;
}

span.radio{
	background-image: url($asset/images/radio.png);
}

input[type=checkbox].dsp-none + span.checkbox,
input[type=radio].dsp-none + span.radio{
	display: none !important;
}

input[type=checkbox].required + span.checkbox{
	background-position: -60px 0;
}

span.checkbox.toggle{
	width: 60px;
	height: 25px;
	margin: 3px 10px 3px 5px;
	background: #ddd;
	border: solid #aaa;
	border-width: 3px 1px 1px 3px;
	
	-icab-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	cursor: pointer;
	
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

span.checkbox.toggle:after{
	display: inline-block;
	position: relative;
	left: -1px;
	top: 0;
	width: 27px;
	height: 17px;
	background-color: #e9e9e9;
	border: solid #888;
	border-width: 1px 3px 3px 1px;
	
	-icab-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	content: '';
	
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

span.checkbox + label,
span.radio + label{
	margin-top: 4px;
}

span.checkbox.toggle + label{
	margin-top: 8px;
}

span.checkbox:hover,
span.radio:hover,
span.checkbox.hover,
span.radio.hover,
input[type=checkbox]:focus + span.checkbox,
input[type=radio]:focus + span.radio{
	background-position: -40px 0;
}

input[type=checkbox].required + span.checkbox:hover,
input[type=checkbox].required + span.checkbox.hover,
input[type=checkbox].required:focus + span.checkbox,
div.error input[type=checkbox].required + span.checkbox:hover,
div.error input[type=checkbox].required + span.checkbox.hover,
div.error input[type=checkbox].required:focus + span.checkbox{
	background-position: -80px 0;
}

span.checkbox.toggle:hover:after,
span.checkbox.toggle.hover:after,
input[type=checkbox]:focus + span.checkbox.toggle:after,
input[type=radio]:focus + span.radio.toggle:after{
	background-color: #f3f3f3;
}

input[type=checkbox][disabled=disabled] + span.checkbox,
input[type=radio][disabled=disabled] + span.radio{
	background-position: 0 0 !important;
	cursor: default !important;
}

input[type=checkbox][disabled=disabled] + span.checkbox.toggle{
	background-color: #eee;
	border-color: #ccc;
	cursor: default !important;
}

input[type=checkbox][disabled=disabled] + span.checkbox.toggle:after{
	background-color: #fff;
	border-color: #aaa;
}

input[type=checkbox]:checked + span.checkbox,
input[type=radio]:checked + span.radio{
	background-position: -20px -20px;
}

input[type=checkbox].required:checked + span.checkbox{
	background-position: -60px -20px;
}

input[type=checkbox]:checked + span.checkbox.toggle{
	background-color: #0be;
}

input[type=checkbox]:checked + span.checkbox.toggle:after{
	left: 25px;
}

input[type=checkbox]:checked + span.checkbox:hover,
input[type=radio]:checked + span.radio:hover,
input[type=checkbox]:checked + span.checkbox.hover,
input[type=radio]:checked + span.radio.hover,
input[type=checkbox]:checked:focus + span.checkbox,
input[type=radio]:checked:focus + span.radio{
	background-position: -40px -20px;
}

input[type=checkbox].required:checked + span.checkbox:hover,
input[type=checkbox].required:checked + span.checkbox.hover,
input[type=checkbox].required:checked:focus + span.checkbox,
div.error input[type=checkbox].required:checked + span.checkbox:hover,
div.error input[type=checkbox].required:checked + span.checkbox.hover,
div.error input[type=checkbox].required:checked:focus + span.checkbox{
	background-position: -80px -20px;
}

input[type=checkbox][disabled=disabled]:checked + span.checkbox,
input[type=radio][disabled=disabled]:checked + span.radio{
	background-position: 0 -20px !important;
}

input[type=checkbox][disabled=disabled]:checked + span.checkbox.toggle{
	background-color: #c6ffd0;
}

div.error input[type=checkbox].required + span.checkbox,
input[type=checkbox].required.error + span.checkbox{
	background-position: -100px 0;
}

div.error input[type=checkbox].required:checked + span.checkbox,
input[type=checkbox].required.error:checked + span.checkbox{
	background-position: -100px -20px;
}

input[type=text],
input[type=password]{
	height: 28px;
}

input[type=password]{
	cursor: text;
}

input[type=text],
input[type=password],
textarea{
	padding: 6px 5px 5px 9px;
	background-color: white;
	border: solid 1px #79dbf7;
	
	-icab-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
input[type=text].hover,
input[type=password].hover,
textarea.hover,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus{
	border-color: #59bbd7;
}

div.error input[type=text][disabled=disabled],
div.error input[type=password][disabled=disabled],
div.error textarea[disabled=disabled],
input[type=text][disabled=disabled].error,
input[type=password][disabled=disabled].error,
textarea[disabled=disabled].error,
input[type=text][disabled=disabled],
input[type=password][disabled=disabled],
textarea[disabled=disabled]{
	border-color: #d3d8e1 !important;
	background-color: #fafafa;
	cursor: default !important;
}
	
	div.error input[type=checkbox][disabled=disabled] + span.checkbox + div.errorMessage,
	div.error input[type=text][disabled=disabled] + div.errorMessage,
	div.error input[type=password][disabled=disabled] + div.errorMessage,
	div.error textarea[disabled=disabled] + div.errorMessage,
	input[type=checkbox][disabled=disabled] + span.checkbox + div.errorMessage,
	input[type=text][disabled=disabled] + div.errorMessage,
	input[type=password][disabled=disabled] + div.errorMessage,
	textarea[disabled=disabled] + div.errorMessage,
	div.disabled + div.errorMessage{
		display: none !important;
	}
	
label[disabled=disabled],
input[disabled=disabled],
input[disabled=disabled] + span + label{
	color: #bbb;
}
