div.note > div{
	min-width: 600px;
}
	
	div.note > div div.appeal-title{
		height: 19px;
		margin-bottom: 10px;
	}
		
		div.note > div div.appeal-title > div{
			display: inline-block;
		}
		
		div.note > div div.appeal-title > div.appeal-id{
			position: absolute;
			left: 25%;
			top: 6px;
			width: 45%;
			color: #aaa;
			font-size: 28px;
			font-weight: bold;
			text-align: center;
		}
		
		div.note > div div.appeal-title > div.appeal-state{
			position: absolute;
			right: -8px;
			top: 10px;
			padding: 6px 10px;
			background-color: #ddd;
			box-shadow: 0 3px 5px #ccc;
			font-size: 15px;
			font-weight: bold;
		}
		
		div.note > div div.appeal-title > div.appeal-state.registered,
		div.note > div div.appeal-title > div.appeal-state.extended{
			background-color: #ddf;
		}
		
		div.note > div div.appeal-title > div.appeal-state.confirmed{
			background-color: #ffd;
		}
		
		div.note > div div.appeal-title > div.appeal-state.done{
			background-color: #dfd;
		}
		
		div.note > div div.appeal-title > div.appeal-state.denied{
			background-color: #fdd;
		}
		
		div.note > div div.value.importance1{
			color: #f80;
			font-weight: bold;
		}
		
		div.note > div div.value.importance2{
			color: #f00;
			font-weight: bold;
		}
		
div.appeal-dialog > div + div{
	margin-top: 30px;
}

div.appeal-dialog div.appeal-text-container{
	position: relative;
}
	
	div.appeal-dialog div.appeal-text-container div.icon{
		display: inline-block;
		width: 40px;
		height: 49px;
		background-image: url($asset/images/author.png);
	}
	
	div.appeal-dialog div.appeal-text-container div.content{
		display: inline-block;
		position: relative;
		min-height: 50px;
		max-width: 88%;
		margin-left: 30px;
		padding: 10px;
		box-shadow: 0 0 10px #ddd;
	}
	
	div.appeal-dialog div.appeal-text-container div.content:before{
		display: inline-block;
		position: absolute;
		left: -18px;
		top: 13px;
		width: 18px;
		height: 15px;
		background-image: url($asset/images/reply_angle_left.png);
		content: '';
	}
		
		div.appeal-dialog div.appeal-text-container div.content div.appeal-stage-date{
			margin: 0 0 10px 30px;
		}
		
		div.appeal-dialog div.appeal-text-container div.content div.file-list{
			margin: 10px 0 0 10px;
		}

div.appeal-dialog div.appeal-answer-container{
	position: relative;
	text-align: right;
}
	
	div.appeal-dialog div.appeal-answer-container div.content{
		display: inline-block;
		position: relative;
		min-height: 50px;
		max-width: 88%;
		margin-right: 30px;
		padding: 10px;
		box-shadow: 0 0 10px #ddd;
		text-align: left;
	}
	
	div.appeal-dialog div.appeal-answer-container div.content:after{
		display: inline-block;
		position: absolute;
		right: -18px;
		top: 13px;
		width: 18px;
		height: 15px;
		background-image: url($asset/images/reply_angle_right.png);
		content: '';
	}
		
		div.appeal-dialog div.appeal-answer-container div.content div.appeal-stage-date{
			margin: 0 0 10px 30px;
		}
		
		div.appeal-dialog div.appeal-answer-container div.content div.file-list{
			margin: 10px 0 0 10px;
		}
	
	div.appeal-dialog div.appeal-answer-container div.icon{
		display: inline-block;
		width: 40px;
		height: 49px;
		background-image: url($asset/images/responder.png);
	}

div.appeal-manage{
	width: 620px;
	margin: 20px auto 0;
}
	
	div.appeal-manage div.appeal-history-item{
		position: relative;
		margin-top: 10px;
		padding: 10px;
		
		background: -moz-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(50%, #fafafa), color-stop(100%, #f0f0f0));
		background: -webkit-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
		background: -o-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
		background: -ms-linear-gradient(top, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
		background: linear-gradient(to bottom, #f0f0f0 0%, #fafafa, 50%, #f0f0f0 100%);
		
		border: solid 1px #eee;
	}
	
	div.appeal-manage div.appeal-history-item:first-child{
		margin-top: 0;
	}
		
		div.appeal-manage div.appeal-history-item div.appeal-history-title{
			height: 25px;
		}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-date{
				display: inline-block;
				margin-left: 60px;
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state{
				display: inline-block;
				position: absolute;
				right: 0;
				margin-right: 70px;
				font-weight: bold;
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state:after{
				display: inline-block;
				position: absolute;
				right: -30px;
				top: -2px;
				width: 24px;
				height: 24px;
				content: '';
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.answered:after{
				background-image: url($asset/images/appeal_answer.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.revoked:after{
				background-image: url($asset/images/appeal_revoked.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.accepted:after{
				background-image: url($asset/images/appeal_accepted.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.redirected:after{
				background-image: url($asset/images/appeal_redirected.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.requested:after{
				background-image: url($asset/images/appeal_request.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.returned:after{
				background-image: url($asset/images/appeal_returned.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.completed:after{
				background-image: url($asset/images/appeal_completed.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.denied:after{
				background-image: url($asset/images/appeal_denied.png);
			}
			
			div.appeal-manage div.appeal-history-item div.appeal-history-title div.appeal-history-state.extended:after{
				background-image: url($asset/images/appeal_extended.png);
			}
		
		div.appeal-manage div.appeal-history-item div.appeal-history-initiator table{
			width: 100%;
			table-layout: fixed;
		}
		
		div.appeal-manage div.appeal-history-item div.appeal-history-initiator table td.appeal-history-user{
			padding-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		div.appeal-manage div.appeal-history-item div.appeal-history-initiator table td.appeal-history-role{
			width: 155px;
			text-align: right;
		}
		
		div.appeal-manage div.appeal-history-item div.appeal-history-text{
			margin-top: 10px;
			padding-top: 5px;
			border-top: solid 2px white;
		}
		
		div.appeal-manage div.appeal-history-item div.file-list{
			margin: 10px 0 0 10px;
		}
	
	div.appeal-manage div.appeal-link{
		margin-top: 20px;
	}
		
		div.appeal-manage div.appeal-link > div{
			text-align: center;
		}
		
			div.appeal-manage div.appeal-link > div a{
				display: inline-block;
				width: 45%;
				margin: 10px;
				background-color: #fafafa;
				background-position: 10px 10px;
				background-repeat: no-repeat;
				box-shadow: 0 0 10px #ddd;
				color: #484848;
				text-align: left;
				text-decoration: none;
			}
			
			div.appeal-manage div.appeal-link > div a.appeal-link-mkd{
				background-image: url($asset/images/mkd.png);
			}
			
			div.appeal-manage div.appeal-link > div a.appeal-link-repair{
				background-image: url($asset/images/repair.png);
			}
			
			div.appeal-manage div.appeal-link > div a.appeal-link-money{
				background-image: url($asset/images/money.png);
			}
			
			div.appeal-manage div.appeal-link > div a.appeal-link-activity{
				background-image: url($asset/images/activity.png);
			}
			
			div.appeal-manage div.appeal-link > div a:focus,
			div.appeal-manage div.appeal-link > div a:hover{
				background-color: #f6f6f6;
			}
				
				div.appeal-manage div.appeal-link > div a p{
					display: table-cell;
					height: 70px;
					padding-left: 70px;
					vertical-align: middle;
				}
			
	div.appeal-manage div.data-table{
		margin-top: 20px;
	}
