nav#main{
	padding: 0 40px;
}
	
	nav#main #overflow{
		position: relative;
		overflow: hidden;
	}
		
		nav#main ul{
			display: table;
			border-left: 1px solid #c3cdd5;
			border-right: 1px solid #fff;
		}
			
			nav#main li{
				display: table-cell;
				width: 500px;
				text-align: center;
			}
				
				nav#main li a,
				nav#main li.disabled p{
					display: block;
					padding: 0 15px;
					border-left: 1px solid #fff;
					border-right: 1px solid #c3cdd5;
					color: #5f5f5f;
					font-size: 14px;
					font-weight: 600;
					line-height: 30px;
					text-decoration: none;
					text-transform: uppercase;
					white-space: nowrap;
				}
				
				nav#main li.disabled p{
					color: #bbb;
					cursor: default;
				}
				
				nav#main li a:focus,
				nav#main li a:hover{
					background: #deecf8;
					background: -moz-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #d5eeff));
					background: -webkit-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
					background: -o-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
					background: -ms-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
					background: linear-gradient(to bottom, #deecf8 0%, #d5eeff 100%);
					box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
				}
				
				nav#main li.active a{
					background: #deecf8;
					background: -moz-linear-gradient(top, #deecf8 0%, #c5def3 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #c5def3));
					background: -webkit-linear-gradient(top, #deecf8 0%, #c5def3 100%);
					background: -o-linear-gradient(top, #deecf8 0%, #c5def3 100%);
					background: -ms-linear-gradient(top, #deecf8 0%, #c5def3 100%);
					background: linear-gradient(to bottom, #deecf8 0%, #c5def3 100%);
					box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
				}
				
				nav#main li.active a:focus,
				nav#main li.active a:hover{
					background: #deecf8;
					background: -moz-linear-gradient(top, #deecf8 0%, #b5cee3 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #b5cee3));
					background: -webkit-linear-gradient(top, #deecf8 0%, #b5cee3 100%);
					background: -o-linear-gradient(top, #deecf8 0%, #b5cee3 100%);
					background: -ms-linear-gradient(top, #deecf8 0%, #b5cee3 100%);
					background: linear-gradient(to bottom, #deecf8 0%, #b5cee3 100%);
					box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
				}
