div.struct table{
	background-color: #fafafa;
	border: solid 1px lightgray;
}
	
	div.struct table tr td{
		padding: 5px;
	}
	
	div.struct table table td{
		word-break: break-all;
	}
	
	div.struct table tr td:first-child{
		font-weight: 600;
	}
	
	div.struct table table{
		background-color: #f5f5f5;
	}
		
		div.struct table table table{
			background-color: #f0f0f0;
		}
			
			div.struct table table table table{
				background-color: #ebebeb;
			}
