div.data-table.news-main{
    width: 90%;
    margin-left: -12%;
}

    div.data-table.news-main div#NewsModel_title{
        margin-bottom: 20px;
        color: #175e91 !important;
        font-size: 20px !important;;
        font-weight: bold !important;;
        line-height: 36px !important;;
        text-transform: uppercase !important;;
    }

    div.data-table.news-main div#NewsModel_date{
        display: none;
    }

a.news-left{
    display: inline-block;
    position: absolute;
    right: 112%;
    top: 40px;
    width: 20px;
    height: 81px;
    margin: 10px;
    background: url($asset/images/news_left.png) no-repeat;
}

a.news-left:focus,
a.news-left:hover{
    background-image: url($asset/images/news_left_hover.png);
}
