div.ui-dialog{
	position: absolute;
	width: auto !important;
	min-width: 300px;
	max-width: 1000px;
	padding: 0;
	background-color: white;
	border: none;
	
	-icab-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	box-shadow: 0 3px 9px #aaa;
	font-family: "Open Sans", sans-serif !important;
	font-size: 14px !important;
}

div.ui-dialog input,
div.ui-dialog textarea{
	font-family: "Open Sans", sans-serif !important;
	font-size: 14px !important;
}
	
	div.ui-dialog div.ui-dialog-titlebar{
		height: 45px;
		padding: 0 21px;
		background: #1ac2fc;
		border: none;
		
		-icab-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		
		color: white;
		font-size: 20px;
		line-height: 45px;
	}
		
		div.ui-dialog div.ui-dialog-titlebar > span{
			float: none;
			font-family: "Open Sans", sans-serif;
			font-weight: normal;
		}
		
		div.ui-dialog.ui-draggable div.ui-dialog-titlebar{
			cursor: move;
		}
		
		div.ui-dialog div.ui-dialog-titlebar > a{
			display: none;
			position: absolute;
			right: 13px;
			top: 13px;
			width: 21px;
			height: 21px;
			margin: 0;
			background-image: url($asset/images/jd_close.png);
		}
		
		div.ui-dialog div.ui-dialog-titlebar > a:hover{
			background-color: initial;
			background-image: url($asset/images/jd_close_hover.png);
			border: none;
		}
			
			div.ui-dialog div.ui-dialog-titlebar > a > span{
				display: none;
			}
	
	div.ui-dialog div.ui-dialog-content{
		padding: 19px 20px;
		color: #444;
	}
		
		div.ui-dialog div.ui-dialog-content > div + div,
		div.ui-dialog div.ui-dialog-content > div + form,
		div.ui-dialog div.ui-dialog-content > form + div,
		div.ui-dialog div.ui-dialog-content > form > div + div{
			margin-top: 20px;
		}
		
		div.ui-dialog div.ui-dialog-content div.buttons-table div.bt-aligner table.bt-table{
			margin-left: -5px;
			margin-right: -5px;
			margin-bottom: -2px;
		}
			
			div.ui-dialog div.ui-dialog-content div.buttons-table div.bt-aligner table.bt-table td{
				padding: 5px;
			}
				
				div.ui-dialog div.ui-dialog-content div.buttons-table div.bt-aligner table.bt-table td .button{
					color: white;
				}
		
		div.ui-dialog div.ui-dialog-content div.data-table table tr.dt-attr td.cell-value input[type=text],
		div.ui-dialog div.ui-dialog-content div.data-table table tr.dt-attr td.cell-value input[type=password],
		div.ui-dialog div.ui-dialog-content div.data-table table tr.dt-attr td.cell-value div.errorMessage{
			width: 240px;
		}

div.ui-widget-overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #aaa;
	
	-khtml-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: 0.3;
	filter: alpha(opacity: 30);
}
