div.drop-down-list{
	display: inline-block;
	position: relative;
	color: inherit;
	text-align: left;
}
	
	div.drop-down-list div.ddl-header{
		position: relative;
		background-color: white;
		border: solid 1px #79dbf7;
		
		-icab-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		
		overflow: hidden;
		white-space: nowrap;
		/* z-index: 40; */
	}
	
	div.drop-down-list.error div.ddl-header{
		/* border-color: #c00 !important; */
	}
	
	div.drop-down-list.required div.ddl-header{
		/* background-color: #faf8e3; */
	}
	
	div.drop-down-list.disabled div.ddl-header{
		border-color: #d3d8e1 !important;
		background-color: #fafafa;
	}
	
	div.drop-down-list div.ddl-header:hover,
	div.drop-down-list div.ddl-header.hover,
	div.drop-down-list.active div.ddl-header{
		border-color: #59bbd7;
	}
		
		div.drop-down-list div.ddl-header input.ddl-title{
			padding: 0 5px 0 9px;
			height: 26px;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-sizing: content-box;
		}
		
		div.drop-down-list div.ddl-header input.ddl-title[readonly=readonly]{
			cursor: pointer;
		}
		
		div.drop-down-list div.ddl-header div.ddl-curtain{
			position: absolute;
			right: 26px;
			top: 0;
			width: 10px;
			height: 28px;
			background-color: rgba(255, 255, 255, 0.8);
			
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		}
		
		div.drop-down-list.required div.ddl-header div.ddl-curtain{
			background-color: rgba(250, 248, 227, 0.8);
			
			background: -moz-linear-gradient(left, rgba(250, 248, 227, 0), rgba(250, 248, 227, 1));
			background: -ms-linear-gradient(left, rgba(250, 248, 227, 0), rgba(250, 248, 227, 1));
			background: -o-linear-gradient(left, rgba(250, 248, 227, 0), rgba(250, 248, 227, 1));
			background: -webkit-linear-gradient(left, rgba(250, 248, 227, 0), rgba(250, 248, 227, 1));
			background: linear-gradient(to right, rgba(250, 248, 227, 0), rgba(250, 248, 227, 1));
		}
		
		div.drop-down-list.disabled div.ddl-header div.ddl-curtain{
			background-color: rgba(250, 250, 250, 0.8);
			
			background: -moz-linear-gradient(left, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
			background: -ms-linear-gradient(left, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
			background: -o-linear-gradient(left, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
			background: -webkit-linear-gradient(left, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
			background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
		}
		
		div.drop-down-list div.ddl-header div.ddl-icon{
			display: inline-block;
			width: 26px;
			height: 26px;
			background: url($asset/images/ddl_icon.png) 40% 51% no-repeat;
			cursor: pointer;
		}
		
		div.drop-down-list.active div.ddl-header div.ddl-icon{
			background-image: url($asset/images/ddl_icon_active.png);
		}
		
		div.drop-down-list.ddl-filter div.ddl-header div.ddl-icon{
			background-image: url($asset/images/ddl_icon_filter.png);
		}
		
		div.drop-down-list.disabled div.ddl-header div.ddl-icon{
			background-image: url($asset/images/ddl_icon_disabled.png);
			cursor: default;
		}
		
	div.drop-down-list ul.ddl-list{
		display: none;
		position: absolute;
		left: 0;
		top: 29px;
		max-height: 298px;
		background-color: white;
		border: solid 1px #b3b3b3;
		cursor: default;
		overflow-y: auto;
		z-index: 20;
	}
	
		div.drop-down-list ul.ddl-list li.ddl-item{
			max-width: 500px;
			margin-top: 1px;
			padding: 4px 22px 4px 9px;
			background-color: white;
			font-size: 14px;
			overflow-x: hidden;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item.ddl-item-hidden{
			height: 0;
			margin: 0 !important;
			padding: 0 !important;
		}
		
		div.drop-down-list.multiple ul.ddl-list li.ddl-item{
			padding: 3px 18px 0 5px;
			white-space: nowrap;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item:hover,
		div.drop-down-list ul.ddl-list li.ddl-item.hover,
		div.drop-down-list.multiple ul.ddl-list li.ddl-item:active{
			background-color: #e7ebef;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item:active,
		div.drop-down-list ul.ddl-list li.ddl-item.active{
			background-color: #f1d26c;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item.active:hover,
		div.drop-down-list ul.ddl-list li.ddl-item.active.hover{
			background-color: #e8c963;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item.ddl-item-locked{
			background-color: inherit !important;
		}
			
			div.drop-down-list ul.ddl-list li.ddl-item label{
				margin: 0;
				padding: 0;
			}
			
			div.drop-down-list.multiple ul.ddl-list li.ddl-item label{
				margin: 3px 18px 3px 3px;
				white-space: normal;
			}
			
		div.drop-down-list ul.ddl-list li.ddl-border{
			margin: 0 10px 0 10px;
			height: 2px;
			background-color: #eee;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-not-found{
			padding: 4px 22px 4px 9px !important;
			background-color: white !important;
		}
		
		div.drop-down-list ul.ddl-list li.ddl-item:first-child,
		div.drop-down-list ul.ddl-list li.ddl-border + li.ddl-item{
			margin-top: 0;
		}
