/* @media print{
	header,
	footer,
	div#scheme-lateral,
	div#title,
	div.flashes,
	div.nested-list,
	div.buttons-table{
		display: none;
	}
	
	embed{
		position: absolute;
		left: -200px;
		top: -200px;
	}
}
 */