div.level{
	margin-top: 10px;
	cursor: default;
	font-size: 20px;
}

div.level div.level{
	font-size: 90%;
}
	
	div.level > div{
		display: inline-block;
	} 
	
	div.level div.title{
		width: 312px;
		cursor: pointer;
		font-weight: bold;
	}
	
	div.level div.title:hover{
		color: #bbb !important;
	}
	
	div.level div.level div.title{
		width: 283px;
		color: #888;
	}
	
	div.level div.level div.level div.title{
		width: 255px;
	}
	
	div.level div.state{
		width: 100px;
	}
	
	div.level div.state.ok{
		color: green;
	}
	
	div.level div.state.error{
		color: red;
	}
	
	div.level div.state.file{
		width: 190px;
		color: #cc0;
	}
	
	div.level div.line{
		color: #888;
	}
	
	div.level > div.childs{
		display: none;
		margin-left: 30px;
	}
	
	div.level.open > div.childs{
		display: block;
	}
		
		div.level > div.childs > div.title-assert{
			margin: 10px 0;
			color: #888;
			font-style: italic;
		}
		
		div.level > div.childs > div.arg{
			color: #55f;
		}
			
			div.level > div.childs > div.arg hr{
				display: inline-block;
				width: 20%;
				height: 1px;
				background-color: #eee;
				border-width: 0px;
				color: #eee;
			}
