div.date-time-picker{
	display: inline-block;
	position: relative;
	cursor: text;
}
	
	div.date-time-picker input.hasDatepicker{
		width: 115px !important;
	}
	
	div.date-time-picker input.hasDatepicker.dtp-full{
		width: 153px !important;
	}
	
	div.date-time-picker div.dtp-icon{
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 3px;
		width: 21px;
		height: 20px;
		background-image: url($asset/images/dtp_icon.png);
		cursor: default;
	}
	
	div.date-time-picker input.hasDatepicker[disabled=disabled] + div.dtp-icon{
		background-image: url($asset/images/dtp_icon_disabled.png);
	}

div.ui-datepicker{
	font-family: "Open Sans", sans-serif;
}
	
	div.ui-datepicker div.ui-datepicker-header{
		background: #deecf8;
		background: -moz-linear-gradient(top, #deecf8 0%, #c5def3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #c5def3));
		background: -webkit-linear-gradient(top, #deecf8 0%, #c5def3 100%);
		background: -o-linear-gradient(top, #deecf8 0%, #c5def3 100%);
		background: -ms-linear-gradient(top, #deecf8 0%, #c5def3 100%);
		background: linear-gradient(to bottom, #deecf8 0%, #c5def3 100%);
	}
		
		div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-prev{
			left: 2px;
			top: 2px;
		}
		
		div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-next{
			right: 2px;
			top: 2px;
		}
		
		div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-prev:hover,
		div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-next:hover{
			background: #deecf8;
			background: -moz-linear-gradient(top, #c5def3 0%, #deecf8 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5def3), color-stop(100%, #deecf8));
			background: -webkit-linear-gradient(top, #c5def3 0%, #deecf8 100%);
			background: -o-linear-gradient(top, #c5def3 0%, #deecf8 100%);
			background: -ms-linear-gradient(top, #c5def3 0%, #deecf8 100%);
			background: linear-gradient(to bottom, #c5def3 0%, #deecf8 100%);
		}
	
	div.ui-datepicker table.ui-datepicker-calendar th{
		font-weight: normal;
	}
		
		div.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default{
			background: #ebf4fc;
			background: -moz-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf4fc), color-stop(100%, #ebf4fc));
			background: -webkit-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
			background: -o-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
			background: -ms-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
			background: linear-gradient(to bottom, #ebf4fc 0%, #ebf4fc 100%);
			
			text-align: center;
		}
		
		div.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default:hover{
			background: #deecf8;
			background: -moz-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #d5eeff));
			background: -webkit-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
			background: -o-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
			background: -ms-linear-gradient(top, #deecf8 0%, #d5eeff 100%);
			background: linear-gradient(to bottom, #deecf8 0%, #d5eeff 100%);
			box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
		}
		
		div.ui-datepicker table.ui-datepicker-calendar td a.ui-state-active{
			background: #deecf8;
			background: -moz-linear-gradient(top, #deecf8 0%, #c5def3 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deecf8), color-stop(100%, #c5def3));
			background: -webkit-linear-gradient(top, #deecf8 0%, #c5def3 100%);
			background: -o-linear-gradient(top, #deecf8 0%, #c5def3 100%);
			background: -ms-linear-gradient(top, #deecf8 0%, #c5def3 100%);
			background: linear-gradient(to bottom, #deecf8 0%, #c5def3 100%);
			box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
		}
		
		div.ui-datepicker table.ui-datepicker-calendar td a.ui-state-highlight{
			border-color: #f55;
		}
