#content{
	position: relative;
	padding: 20px;
}
	
	#content > div + div,
	#content > div + form,
	#content > form + div,
	#content > form > div + div,
	object + div{
		margin-top: 30px;
	}
	
	#content > div.flashes + div,
	#content > div.flashes + form{
		margin-top: 0;
	}
