div.file-list{
	position: relative;
}
	
	div.file-list li{
		min-height: 21px;
		font-size: 14px;
	}
		
		div.file-list li div.fl-icon{
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url($asset/images/file_none.png);
			content: '';
		}
		
		div.file-list li div.fl-icon.file-doc,
		div.file-list li div.fl-icon.file-docx{
			background-image: url($asset/images/file_doc.png);
		}
		
		div.file-list li div.fl-icon.file-bmp,
		div.file-list li div.fl-icon.file-jpg,
		div.file-list li div.fl-icon.file-jpeg,
		div.file-list li div.fl-icon.file-png{
			background-image: url($asset/images/file_jpg.png);
		}
		
		div.file-list li div.fl-icon.file-pdf{
			background-image: url($asset/images/file_pdf.png);
		}
		
		div.file-list li div.fl-icon.file-txt{
			background-image: url($asset/images/file_txt.png);
		}
		
		div.file-list li div.fl-icon.file-xls,
		div.file-list li div.fl-icon.file-xlsx{
			background-image: url($asset/images/file_xls.png);
		}
		
		div.file-list li div.fl-name{
			display: inline-block;
			max-width: 500px;
			margin-left: 6px;
			text-decoration: underline;
			word-wrap: break-word;
		}
