div.file-loader > input[type=file]{
	display: none;
}

div.file-loader > table.fl-list{
	/* margin-top: 12px; */
}
	
	div.file-loader > table.fl-list > tbody > tr > td{
		padding-top: 8px;
	}
	
	div.file-loader > table.fl-list > tbody > tr > td.fl-list-name{
		max-width: 326px;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	
	div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress{
		white-space: nowrap;
		vertical-align: top;
	}
		
		div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > div.fl-progress-bar{
			display: inline-block;
			position: relative;
			width: 100px;
			height: 19px;
			margin-left: 20px;
			
			background-color: #eee;
			
			background: -moz-linear-gradient(top, #eee 0%, #fafafa 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #fafafa));
			background: -webkit-linear-gradient(top, #eee 0%, #fafafa 100%);
			background: -o-linear-gradient(top, #eee 0%, #fafafa 100%);
			background: -ms-linear-gradient(top, #eee 0%, #fafafa 100%);
			background: linear-gradient(to bottom, #eee 0%, #fafafa 100%);
			
			-icab-border-radius: 3px;
			-khtml-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			
			border-right: solid 1px #eee;
			border-top: solid 1px #eee;
		}
			
			div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > div.fl-progress-bar > p{
				position: relative;
				top: -1px;
				min-width: 5%;
				width: 0;
				height: 19px;
				background: url($asset/images/fl_progress.png) top right;
				border-bottom: solid 1px #e90;
				border-left: solid 1px #e90;
				
				-icab-border-radius: 3px;
				-khtml-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				
				transition: 3s all;
			}
			
			div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > div.fl-progress-bar > span{
				display: none;
				position: absolute;
				top: -1px;
				width: 100%;
				text-align: center;
			}
			
		div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > a.fl-button-cancel{
			display: inline-block;
			width: 19px;
			height: 19px;
			margin-left: 10px;
			background: #eaa url($asset/images/fl_button_close.png) center center no-repeat;
			
			border-bottom: solid 1px #c88;
			border-right: solid 1px #c88;
			
			-icab-border-radius: 10px;
			-khtml-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		
		div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > a.fl-button-cancel:hover,
		div.file-loader > table.fl-list > tbody > tr > td.fl-list-progress > div > a.fl-button-cancel:focus{
			background-color: #d99;
		}
