div#payment-type > ul > li > span{
	vertical-align: middle;
}

div#payment-type > ul > li > label{
	position: relative;
	width: 420px;
	margin-left: 10px;
	font-size: 14px;
	vertical-align: middle;
}
	
	div#payment-type > ul > li > label > div.pt-info{
		display: table-cell;
		height: 60px;
		vertical-align: middle;
	}
	
	div#payment-type > ul > li > label > div.pt-info div.pt-commission{
		color: #aaa;
	}
	
	div#payment-type > ul > li > label > div.pt-icon{
		display: inline-block;
		position: absolute;
		width: 150px;
		height: 60px;
		right: 0;
		top: 0;
	}
	
	div#payment-type > ul > li.li-payment-type-bank > label > div.pt-icon{
		background-image: url($asset/images/bank.png);
	}
	
	div#payment-type > ul > li.li-payment-type-card > label > div.pt-icon{
		background-image: url($asset/images/card.png);
	}
	
	div#payment-type > ul > li.li-payment-type-yd > label > div.pt-icon{
		background-image: url($asset/images/yandex.png);
	}
	
	div#payment-type > ul > li.li-payment-type-sms > label > div.pt-icon{
		background-image: url($asset/images/sms.png);
	}
