div.value-list{
	/* max-width: 80%; */
	overflow-y: auto;
}
	
	div.value-list ul > li > ul{
		margin-left: 20px;
	}
	
	div.value-list ul > li > ul > li{
		display: none;
	}
	
	div.value-list ul > li.vl-open > ul > li{
		display: list-item;
	}
	
	div.value-list ul > li{
		/* padding: 5px 0; */
	}
		
		div.value-list ul > li > a{
			display: table-row;
			color: #484848;
			font-size: 14px;
			text-decoration: none;
		}
		
		div.value-list ul > li > a:focus,
		div.value-list ul > li > a:hover{
			background-color: #f7f7f7;
		}
		
		/* div.value-list ul > li.vl-open > a{
			background-color: #eee;
		} */
		
		div.value-list ul > li.vl-open > a:focus,
		div.value-list ul > li.vl-open > a:hover{
			background-color: #e8e8e8;
		}
		
		div.value-list ul > li > a.vl-last:focus,
		div.value-list ul > li > a.vl-last:hover{
			background-color: #def;
		}
		
		div.value-list ul > li > a.vl-checking{
			background-color: #aef;
		}
		
		div.value-list ul > li > a.vl-checking:focus,
		div.value-list ul > li > a.vl-checking:hover{
			background-color: #a8e8f8;
		}
		
		div.value-list ul > li > a.vl-last.vl-disabled{
			background-color: initial !important;
			cursor: default;
		}
			
			div.value-list ul > li > a > p{
				display: table-cell;
				padding: 5px;
			}
			
			div.value-list ul > li > a > p.vl-code{
				font-weight: bold;
				white-space: nowrap;
			}
			
			div.value-list ul > li > a.vl-disabled > p.vl-code{
				color: lightgray;
			}
			
			div.value-list ul > li > a > p.vl-description{
				/* margin-left: 5px; */
				/* white-space: initial; */
			}
			
			div.value-list ul > li > a.vl-disabled > p.vl-description{
				color: lightgray;
			}
