ul.link-docs li{
	font-size: 14px;
}
	
	ul.link-docs li a:before{
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url($asset/images/file_pdf.png);
		content: '';
	}
