div#profile{
	position: absolute;
	right: 40px;
	top: 38px;
	max-width: 33%;
}

div#profile.profile-login{
	right: inherit;
	left: 0;
	top: inherit;
	bottom: -170px;
	z-index: 1;
}
	
	div#profile div.flash-panel{
		left: 0;
		min-width: 400px;
		margin-left: 20px;
	}

		div#profile div.flash-panel a.user-restore{
			position: relative;
			left: 233px;
		}
	
	div#profile div.profile-info{
		padding: 17px 20px;
		background: none repeat scroll 0 0 rgba(26, 112, 184, 0.60);
		text-align: right;
	}
		
		div#profile div.profile-info div.hello{
			margin-bottom: 14px;
			color: white;
			font-size: 1em;
			text-align: left;
		}
		
		div#profile div.profile-info a{
			position: relative;
			padding-left: 20px;
			text-decoration: none;
		}
		
		div#profile div.profile-info a.link-profile{
			margin-right: 20px;
		}
		
		div#profile div.profile-info a:before{
			display: inline-block;
			position: absolute;
			left: -2px;
			top: -1px;
			width: 24px;
			height: 24px;
			content: '';
		}
		
		div#profile div.profile-info a.link-profile:before{
			background: url($asset/images/link_profile.png);
		}
		
		div#profile div.profile-info a.link-logout:before{
			background: url($asset/images/link_logout.png);
		}
		
		div#profile div.profile-info a span{
			color: white;
			border-bottom: solid 1px white;
		}
		
		div#profile div.profile-info a:hover span,
		div#profile div.profile-info a:focus span{
			color: #eee;
			border-bottom: solid 1px #eee;
		}
