nav#chain{
	height: 20px;
	cursor: default;
}
	
	nav#chain #overflow{
		position: relative;
		overflow: hidden;
	}
		
		nav#chain ul{
			display: inline-block;
			margin-left: 22px;
			white-space: nowrap;
		}
			
			nav#chain ul li{
				display: inline-block;
				height: 20px;
				font-size: 14px;
			}
			
			nav#chain ul li:after{
				display: inline-block;
				width: 28px;
				height: 20px;
				background: url($asset/images/scheme_chain_arrow.png) no-repeat;
				content: '';
			}
			
	nav#chain #curtain-left-trans{
		display: inline-block;
		position: absolute;
		width: 22px;
		height: 20px;
		
		background-color: rgba(247, 248, 252, 0.8);
		
		background: -moz-linear-gradient(right, rgba(247, 248, 252, 0), rgba(247, 248, 252, 1));
		background: -ms-linear-gradient(right, rgba(247, 248, 252, 0), rgba(247, 248, 252, 1));
		background: -o-linear-gradient(right, rgba(247, 248, 252, 0), rgba(247, 248, 252, 1));
		background: -webkit-linear-gradient(right, rgba(247, 248, 252, 0), rgba(247, 248, 252, 1));
		background: linear-gradient(to left, rgba(247, 248, 252, 0), rgba(247, 248, 252, 1));
		
		z-index: 1;
	}
