div.filter{
	border-bottom: solid 1px #eee;
}
	
	div.filter-item{
		display: inline-block;
		padding: 0 10px 10px 0;
		vertical-align: top;
		white-space: nowrap;
	}
	
		div.filter-item > label{
			padding: 4px 5px 0 0;
			text-align: right;
		}
		
		div.filter-item > input[type=text]{
			width: 158px;
		}
	
	div.filter-buttons{
		display: inline-block;
		margin-left: 10px;
		float: right;
		vertical-align: top;
	}
		
		div.filter-buttons .button.clear{
			margin-left: 5px;
		}

div.container-grid-view{
	position: relative;
}
	
	div.container-grid-view div.grid-view{
		min-height: 70px;
	}
	
	div.container-grid-view div.grid-view div.gv-table{
		box-shadow: 0px 0px 6px #ddd;
		overflow-x: auto;
	}
	
	/* div.container-grid-view div.grid-view.gv-wide div.gv-table{
		overflow-x: auto;
	} */
		
		div.container-grid-view div.grid-view table.items{
			width: 100%;
			border-collapse: separate;
			border-left: medium none;
			border-top: medium none;
			cursor: default;
		}
			
			div.container-grid-view div.grid-view table.items thead tr th{
				padding: 4px 7px;
				background: none repeat scroll 0 0 #144c75;
				border-left: 1px solid #c3f3ff;
				border-top: medium none;
				text-align: center;
				vertical-align: middle;
				word-break: break-all;
				word-wrap: break-word;
			}
			
			div.container-grid-view div.grid-view table.items thead tr:first-child th:first-child{
				border-left-color: #1ac2fc;
			}
			
				div.container-grid-view div.grid-view table.items thead tr th,
				div.container-grid-view div.grid-view table.items thead tr th a{
					color: white;
					font-weight: bold;
					text-decoration: none;
				}
				
				div.container-grid-view div.grid-view table.items thead tr th a:hover,
				div.container-grid-view div.grid-view table.items thead tr th a:focus{
					text-decoration: underline;
				}
				
				div.container-grid-view div.grid-view table.items thead tr th a.asc{
					background: url($asset/images/gv_sort_asc.png) right center no-repeat;
					padding-right: 10px;
				}
				
				div.container-grid-view div.grid-view table.items thead tr th a.desc{
					background: url($asset/images/gv_sort_desc.png) right center no-repeat;
					padding-right: 10px;
				}
			
			div.container-grid-view div.grid-view table.items tbody tr td{
				/* width: 600px; */
				padding: 6px 4px;
				border-top: 1px solid #c3f3ff;
				vertical-align: middle;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr:first-child td{
				border-top: medium none;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.even td{
				background: none repeat scroll 0 0 #effcff;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.red td{
				background: none repeat scroll 0 0 #ffeffc;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr:hover td{
				background-color: #eee;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.even:hover td{
				background-color: #dfecef;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.red:hover td{
				background-color: #efdfec;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected td{
				background-color: #ddd;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected.even td{
				background-color: #cfdcdf;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected.red td{
				background-color: #dfcfdc;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected:hover td{
				background-color: #ccc;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected.even:hover td{
				background-color: #bfcccf;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.selected.red:hover td{
				background-color: #cfbfcc;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.importance1 td.importance{
				color: #f80;
				font-weight: bold;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.importance2 td.importance{
				color: #f00;
				font-weight: bold;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr.completed td.importance{
				color: #0d0;
				font-weight: bold;
			}
			
			div.container-grid-view div.grid-view table.items tbody tr td.empty{
				background-color: white !important;
				text-align: center;
				vertical-align: middle;
			}
		
		div.container-grid-view div.grid-view table.gv-controls{
			width: 100%;
			margin: 20px 0;
		}
			
			div.container-grid-view div.grid-view table.gv-controls td{
				vertical-align: middle;
			}
			
			div.container-grid-view div.grid-view table.gv-controls td.gv-sizer{
				text-align: center;
			}
				
				div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer p{
					display: inline-block;
					vertical-align: middle;
				}
				
				div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div{
					display: inline-block;
					vertical-align: middle;
				}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div span:first-child{
						margin-left: 10px;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div label{
						padding: 3px 7px 3px;
						
						-icab-border-radius: 3px;
						-khtml-border-radius: 3px;
						-moz-border-radius: 3px;
						-ms-border-radius: 3px;
						-o-border-radius: 3px;
						-webkit-border-radius: 3px;
						border-radius: 3px;
						
						cursor: pointer;
						font-weight: bold;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div label:hover,
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div input:focus label{
						background: #ebf4fc;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div input[checked=checked] + label{
						background: #dbe4ec;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div input[checked=checked] + label:hover,
					div.container-grid-view div.grid-view table.gv-controls td.gv-sizer div.sizer div input[checked=checked]:focus + label{
						background: #cbd4dc;
					}
					
			div.container-grid-view div.grid-view table.gv-controls td.gv-pager{
				text-align: right;
			}
				
				div.container-grid-view div.grid-view table.gv-controls td.gv-pager li{
					display: inline-block;
				}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li a{
						display: inline-block;
						padding: 3px 7px 3px;
						color: #333;
						font-weight: bold;
						
						-icab-border-radius: 3px;
						-khtml-border-radius: 3px;
						-moz-border-radius: 3px;
						-ms-border-radius: 3px;
						-o-border-radius: 3px;
						-webkit-border-radius: 3px;
						border-radius: 3px;
						
						text-decoration: none;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li a:hover,
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li a:focus{
						background-color: #ebf4fc;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.selected a{
						background-color: #dbe4ec;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.selected a:hover,
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.selected a:focus{
						background-color: #cbd4dc;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.first a,
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.previous a,
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.next a,
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.last a{
						width: 20px;
						height: 20px;
						background-position: center center;
						background-repeat: no-repeat;
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.first a{
						background-image: url($asset/images/gv_page_first.png);
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.previous a{
						background-image: url($asset/images/gv_page_previous.png);
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.next a{
						background-image: url($asset/images/gv_page_next.png);
					}
					
					div.container-grid-view div.grid-view table.gv-controls td.gv-pager li.last a{
						background-image: url($asset/images/gv_page_last.png);
					}

div#filter-id,
div#gv-params{
	display: none;
}
