div.tooltip{
	display: inline-block;
	position: relative;
	top: -2px;
	margin-left: 5px;
}
	
	div.tooltip div.tt-button{
		position: relative;
		width: 18px;
		height: 18px;
		background-image: url($asset/images/tt_button.png);
	}
	
	div.tooltip div.tt-button:hover{
		background-image: url($asset/images/tt_button_hover.png);
	}
	
	div.tooltip.active div.tt-button,
	div.tooltip div.tt-button:active{
		background-image: url($asset/images/tt_button_active.png);
	}
	
	div.tooltip div.tt-text{
		display: none;
		position: absolute;
		left: -77px;
		bottom: 29px;
		width: 287px;
		padding: 10px 14px;
		background-color: white;
		border: solid 1px #b3b3b3;
		z-index: 20;
	}
		
		div.tooltip div.tt-text div.tt-close{
			position: absolute;
			right: 1px;
			top: 1px;
			width: 16px;
			height: 15px;
			background-image: url($asset/images/tt_close.png);
			background-position: center center;
			background-repeat: no-repeat;
		}
		
		div.tooltip div.tt-text div.tt-close:hover{
			background-color: #e7ebef;
			background-image: url($asset/images/tt_close_hover.png);
		}
		
		div.tooltip div.tt-text div.tt-close:active{
			background-color: #f1d26c;
		}
		
		div.tooltip div.tt-text ul{
			margin: 5px 0;
			padding-left: 25px;
			list-style-type: disc;
		}
		
	div.tooltip div.tt-triangle-external{
		position: absolute;
		bottom: -20px;
		left: 75px;
		border: solid 10px transparent;
		border-top: solid 10px #b3b3b3;
	}
	
	div.tooltip div.tt-triangle-internal{
		position: absolute;
		bottom: -19px;
		left: 75px;
		border: solid 10px transparent;
		border-top: solid 10px white;
	}
