nav#lateral{
	display: inline-block;
	max-width: 288px;
	padding: 20px 0 20px 10px;
	cursor: default;
}
	
	nav#lateral ul.level-23,
	nav#lateral ul.level-24,
	nav#lateral ul.level-34,
	nav#lateral ul.level-25,
	nav#lateral ul.level-35,
	nav#lateral ul.level-45{
		margin-left: 10px;
	}
	
	nav#lateral ul.level-22,
	nav#lateral ul.level-33,
	nav#lateral ul.level-44,
	nav#lateral ul.level-55{
		margin: 10px 0 10px 20px;
	}
		
		nav#lateral ul.level-15 li{
			font-size: 10px;
		}
		
		nav#lateral ul.level-14 li,
		nav#lateral ul.level-25 li{
			font-size: 11px;
		}
		
		nav#lateral ul.level-13 li,
		nav#lateral ul.level-24 li,
		nav#lateral ul.level-35 li{
			font-size: 12px;
		}
		
		nav#lateral ul.level-12 li,
		nav#lateral ul.level-23 li,
		nav#lateral ul.level-34 li,
		nav#lateral ul.level-45 li{
			font-size: 13px;
		}
		
		nav#lateral ul.level-11 li,
		nav#lateral ul.level-22 li,
		nav#lateral ul.level-33 li,
		nav#lateral ul.level-44 li,
		nav#lateral ul.level-55 li{
			font-size: 14px;
		}
			
			nav#lateral ul li a{
				display: inline-block;
				color: #777;
				text-decoration: none;
			}
			
			nav#lateral ul li a:focus{
				color: #003986 !important;
				text-decoration: underline !important;
			}
			
			nav#lateral ul.level-11 li a,
			nav#lateral ul.level-22 li a,
			nav#lateral ul.level-33 li a,
			nav#lateral ul.level-44 li a,
			nav#lateral ul.level-55 li a{
				color: #086bc6;
			}
			
			nav#lateral ul.hover > li > a{
				color: #086bc6;
			}
			
			nav#lateral ul.hover > li > a:hover{
				color: #003986;
				text-decoration: underline;
			}
			
			nav#lateral ul.hover ul.level-22 a,
			nav#lateral ul.hover ul.level-33 a,
			nav#lateral ul.hover ul.level-44 a,
			nav#lateral ul.hover ul.level-55 a{
				color: #777;
				text-decoration: none;
			}
			
			nav#lateral ul.level-11 li.active,
			nav#lateral ul.level-22 li.active,
			nav#lateral ul.level-33 li.active,
			nav#lateral ul.level-44 li.active,
			nav#lateral ul.level-55 li.active{
				background-color: #144c75;
			}
			
			nav#lateral ul.level-11 li.active a,
			nav#lateral ul.level-22 li.active a,
			nav#lateral ul.level-33 li.active a,
			nav#lateral ul.level-44 li.active a,
			nav#lateral ul.level-55 li.active a{
				width: 100%;
				background: url($asset/images/border.png) right top no-repeat;
				color: white;
				text-decoration: none;
			}
			
			nav#lateral ul.level-11 li.active a:hover,
			nav#lateral ul.level-22 li.active a:hover,
			nav#lateral ul.level-33 li.active a:hover,
			nav#lateral ul.level-44 li.active a:hover,
			nav#lateral ul.level-55 li.active a:hover,
			nav#lateral ul.level-11 li.active a:focus,
			nav#lateral ul.level-22 li.active a:focus,
			nav#lateral ul.level-33 li.active a:focus,
			nav#lateral ul.level-44 li.active a:focus,
			nav#lateral ul.level-55 li.active a:focus{
				background-image: url($asset/images/border_hover.png);
				color: white !important;
				text-decoration: none !important;
			}
				
				nav#lateral ul.level-15 li p{
					padding: 0;
				}
				
				nav#lateral ul.level-14 li p,
				nav#lateral ul.level-25 li p{
					padding: 2px 3px;
				}
				
				nav#lateral ul.level-13 li p,
				nav#lateral ul.level-24 li p,
				nav#lateral ul.level-35 li p{
					padding: 3px 7px;
				}
				
				nav#lateral ul.level-12 li p,
				nav#lateral ul.level-23 li p,
				nav#lateral ul.level-34 li p,
				nav#lateral ul.level-45 li p{
					padding: 4px 12px;
				}
				
				nav#lateral ul.level-11 li p,
				nav#lateral ul.level-22 li p,
				nav#lateral ul.level-33 li p,
				nav#lateral ul.level-44 li p,
				nav#lateral ul.level-55 li p{
					padding: 5px 15px;
				}
				
				nav#lateral ul li.disabled p{
					color: #bbb;
				}
