html{
	height: 100%;
}

body{
	position: relative;
	min-height: 100%;
	padding: 256px 0 244px;
}

header{
	position: absolute;
	top: 0;
	width: 100%;
}
	
	header div#headline{
		min-width: 944px;
		height: 225px;
		background: url($asset/images/header_bg.png) center top repeat-x;
	}
		
		header div#headline div.limiter{
			height: 225px;
			background: url($asset/images/header_bg_front.png) center top no-repeat;
		}
			
			header div#headline div.limiter a.logo{
				display: inline-block;
				position: relative;
				width: 45%;
				height: 85px;
				margin-left: 20%;
				margin-top: 25px;
				background: url($asset/images/header_logo.png) no-repeat;
				background-size: contain;
				text-decoration: none;
			}
				
				header div#headline div.limiter a.logo div.logo-frame{
					position: relative;
					margin-left: 60px;
				}
					
					header div#headline div.limiter a.logo div.logo-frame div.logo-title{
						min-height: 100px;
						max-height: 140px;
						padding: 3px 10px 16px 20px;
						color: #144c75;
						font-size: 30px;
						font-weight: bold;
						line-height: 36px;
						overflow: hidden;
						text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
						text-transform: uppercase;
					}
						
						header div#headline div.limiter a.logo div.logo-frame div.logo-title span{
							font-size: 20px;
							font-style: italic;
							text-transform: initial;
						}
					
					header div#headline div.limiter a.logo div.logo-frame div.mode{
						position: absolute;
						right: 5px;
						bottom: 2px;
					}
	
	header div#scheme-main{
		height: 31px;
		background: #ebf4fc;
		background: -moz-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf4fc), color-stop(100%, #ebf4fc));
		background: -webkit-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
		background: -o-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
		background: -ms-linear-gradient(top, #ebf4fc 0%, #ebf4fc 100%);
		background: linear-gradient(to bottom, #ebf4fc 0%, #ebf4fc 100%);
		border-bottom: 1px solid #d1d1d1;
		box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
	}
	
	header div#scheme-chain{
		background-color: #f7f8fc;
	}
	
div#base div#scheme-lateral{
	position: absolute;
}

div#base .content-offset{
	margin-left: 288px;
}

div#base #title{
	padding: 20px 10px 0 250px;
}

div#base #title.content-offset{
	padding-left: 20px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 115px;
	background-color: #144c75;
	border-bottom: solid 1px white;
	color: white;
}

	footer div.left{
		display: inline-block;
		width: 42%;
		margin-left: 8%;
		margin-top: 25px;
	}
	
	footer div.right{
		display: inline-block;
		width: 42%;
		margin-top: 25px;
		text-align: right;
	}
		
		footer div.right div.statistics{
			display: inline-block;
			width: 88px;
		}
			
			footer div.right div.statistics > a{
				display: block;
			}
			
			footer div.right div.statistics > a.yandexmetrika{
				margin-top: 6px;
			}

footer:after{
	display: inline-block;
	position: absolute;
	right: 0;
	top: -109px;
	width: 700px;
	height: 134px;
	background: url($asset/images/footer_bg.png);
	content: '';
}
