div.ui-dialog.juid-author,
div.ui-dialog.juid-operator,
div.ui-dialog.juid-responder{
	width: 70% !important;
}
	
	div.ui-dialog.juid-author div#juid-author div.container-container-grid-view,
	div.ui-dialog.juid-operator div#juid-operator div.container-container-grid-view,
	div.ui-dialog.juid-responder div#juid-responder div.container-container-grid-view{
		height: 450px !important;
		margin-top: 30px;
	}
	
	div.ui-dialog.juid-author div#juid-author div.grid-view th,
	div.ui-dialog.juid-operator div#juid-operator div.grid-view th,
	div.ui-dialog.juid-responder div#juid-responder div.grid-view th{
		background: none repeat scroll 0 0 #b5cee3;
	}
	
	div.ui-dialog.juid-author div#juid-author div.grid-view thead tr:first-child th:first-child,
	div.ui-dialog.juid-operator div#juid-operator div.grid-view thead tr:first-child th:first-child,
	div.ui-dialog.juid-responder div#juid-responder div.grid-view thead tr:first-child th:first-child{
		border-left-color: #b5cee3;
	}
