div.difficulty-meter{
	display: inline-block;
	margin: 3px 0 3px 5px;
	cursor: default;
}
	
	div.difficulty-meter p.dm-title{
		font-size: 11px;
		text-align: center;
		color: #505050; 
	}
	
	div.difficulty-meter div.dm-bk{
		width: 100%;
		height: 10px;
		padding: 1px 2px;
		border: solid 1px #ccc;
	}
		
		div.difficulty-meter div.dm-bk div.dm-meter{
			width: 0%;
			height: 100%;
			background-color: #0ad81b;
		}
