div.captcha{
	display: inline-block;
	margin-left: 19px;
}
	
	div.captcha img{
		width: 100px;
		height: 30px;
		background-color: #eef;
		border: dashed 1px #aaf;
	}
	
	div.captcha img.clickable{
		cursor: pointer;
	}
	
	div.captcha img.disabled{
		border: solid 1px #888;
		cursor: default;
	}
