@keyframes fadeInLeft{
	0%{
		opacity: 0;
		-webkit-transform: translateX(500px);
		-ms-transform: translateX(500px);
		-moz-transform: translateX(500px);
		transform: translateX(500px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
}

body{
	color: #484848;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1{
	color: #175e91;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
}

h2{
	margin: 0;
	color: #34495e;
	font-size: 1.71429em;
	font-weight: normal;
	line-height: 26px;
}

h3{
	margin: 1.14em 0 0.57em;
	color: #34495e;
	font-size: 1.28571em;
	font-weight: bold;
}

h4,
.title{
	margin: 1.23em 0 0.615em;
	color: #34495e;
	font-size: 1.28571em;
	font-weight: bold;
}

h5{
	margin: 1.33em 0 0.67em;
	color: #6e7a87;
	font-size: 1em;
	font-weight: bold;
}

h6{
	margin: 1.6em 0 0.8em;
	color: #6e7a87;
	font-size: 1em;
	font-weight: bold;
}

a:link,
a:visited{
	color: #0080a5;
}

a:hover,
a:focus,
a:active{
	color: #ec8241;
}

a.dashed{
	border-bottom: 1px dashed;
	text-decoration: none;
}

ul.disc{
	margin-left: 15px;
	list-style-type: disc;
}

form{
	display: inline-block;
	position: relative;
}

div.limiter{
	position: relative;
	min-width: 944px;
	max-width: 1400px;
	margin: 0 auto;
}

.shadow{
	box-shadow: 0 0 10px #ccc;
}

.ts1{
	text-shadow: 1px 1px #617292;
	filter: shadow(color = #617292, direction = 135, strength = 2);
}

.ts2{
	text-shadow: 2px 2px #617292;
	filter: shadow(color = #617292, direction = 135, strength = 3);
}

.round3{
	-icab-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.round6{
	-icab-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.dsp-none{
	display: none !important;
}

.dsp-i{
	display: inline !important;
}

.dsp-ib{
	display: inline-block !important;
}

.dsp-b{
	display: block !important;
}

.pos-i{
	position: initial !important;
}

.pos-a{
	position: absolute !important;
}

.pos-r{
	position: relative !important;
}

.important{
	font-weight: bold !important;
	font-size: 20px !important;
}

.fw-bold{
	font-weight: bold !important;
}

.fw-normal{
	font-weight: normal !important;
}

.fs-italic{
	font-style: italic !important;
}

.fs-normal{
	font-style: normal !important;
}

.wauto{
	width: auto !important;
}

.w30{
	width: 300px !important;
}

.w100{
	width: 100% !important;
}

.ta-left{
	text-align: left !important;
}

.ta-center{
	text-align: center !important;
}

.ta-right{
	text-align: right !important;
}

.va-top{
	vertical-align: top !important;
}

.va-middle{
	vertical-align: middle !important;
}

.va-bottom{
	vertical-align: bottom !important;
}

.p0{
	padding: 0 !important;
}

.pt0{
	padding-top: 0 !important;
}

.pr0{
	padding-right: 0 !important;
}

.pb0{
	padding-bottom: 0 !important;
}

.pl0{
	padding-left: 0 !important;
}

.p1{
	padding: 10px !important;
}

.pt1{
	padding-top: 10px !important;
}

.pr1{
	padding-right: 10px !important;
}

.pb1{
	padding-bottom: 10px !important;
}

.pl1{
	padding-left: 10px !important;
}

.p2{
	padding: 20px !important;
}

.pt2{
	padding-top: 20px !important;
}

.pr2{
	padding-right: 20px !important;
}

.pb2{
	padding-bottom: 20px !important;
}

.pl2{
	padding-left: 20px !important;
}

.p3{
	padding: 30px !important;
}

.pt3{
	padding-top: 30px !important;
}

.pr3{
	padding-right: 30px !important;
}

.pb3{
	padding-bottom: 30px !important;
}

.pl3{
	padding-left: 30px !important;
}

.p5{
	padding: 50px !important;
}

.pt5{
	padding-top: 50px !important;
}

.pr5{
	padding-right: 50px !important;
}

.pb5{
	padding-bottom: 50px !important;
}

.pl5{
	padding-left: 50px !important;
}

.m0{
	margin: 0 !important;
}

.mt0{
	margin-top: 0 !important;
}

.mr0{
	margin-right: 0 !important;
}

.mb0{
	margin-bottom: 0 !important;
}

.ml0{
	margin-left: 0 !important;
}

.m1{
	margin: 10px !important;
}

.mt1{
	margin-top: 10px !important;
}

.mr1{
	margin-right: 10px !important;
}

.mb1{
	margin-bottom: 10px !important;
}

.ml1{
	margin-left: 10px !important;
}

.m2{
	margin: 20px !important;
}

.mt2{
	margin-top: 20px !important;
}

.mr2{
	margin-right: 20px !important;
}

.mb2{
	margin-bottom: 20px !important;
}

.ml2{
	margin-left: 20px !important;
}

.m3{
	margin: 30px !important;
}

.mt3{
	margin-top: 30px !important;
}

.mr3{
	margin-right: 30px !important;
}

.mb3{
	margin-bottom: 30px !important;
}

.ml3{
	margin-left: 30px !important;
}

.m5{
	margin: 50px !important;
}

.mt5{
	margin-top: 50px !important;
}

.mr5{
	margin-right: 50px !important;
}

.mb5{
	margin-bottom: 50px !important;
}

.ml5{
	margin-left: 50px !important;
}

.m10{
	margin: 100px !important;
}

.mt10{
	margin-top: 100px !important;
}

.mr10{
	margin-right: 100px !important;
}

.mb10{
	margin-bottom: 100px !important;
}

.ml10{
	margin-left: 100px !important;
}

.no-padding{
	padding: 0 !important;
}

.nowrap{
	white-space: nowrap !important;
}

span.required{
	color: #e84545;
}

label[disabled=disabled] > span.required{
	color: #bbb;
}

.unrequired span.required{
	display: none;
}

.pocket-toggle:after{
	display: inline-block;
	padding-left: 5px;
	content: '\25bc';
	vertical-align: middle;
}

.pocket-toggle.active:after{
	content: '\25b2';
}

div.curtain-loading{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	background: white url($asset/images/loading.gif) center center no-repeat;
	
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity: 50);
}

.centering{
	text-align: center;
}
	
	.centering > div,
	.centering > form{
		text-align: left;
	}

div.note{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
	
	div.note > div{
		display: inline-block;
		position: relative;
		padding: 20px;
		background-color: #fbfbfb;
		border: solid 3px #cdd;
		
		-icab-border-bottom-right-radius: 30px;
		-khtml-border-bottom-right-radius: 30px;
		-moz-border-bottom-right-radius: 30px;
		-ms-border-bottom-right-radius: 30px;
		-o-border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		border-bottom-right-radius: 30px;
		
		-icab-border-top-left-radius: 30px;
		-khtml-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-ms-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		border-top-left-radius: 30px;
		
		text-align: left;
	}
	
div.value.value-big,
div.value.value-big li{
	font-size: 15px;
}

div.value.value-wide{
	font-weight: 600;
}

div.value.value-update{
	min-height: 30px;
	padding: 7px 0 5px 0;
}

object{
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
}
	
	object embed{
		display: block;
		width: 100%;
		height: 100%;
		background: #eee url($asset/images/embed_error.png) center center no-repeat;
	}
	
	object embed.loading{
		background-image: url($asset/images/loading.gif);
	}
