.button,
a.button{
	display: inline-block;
	position: relative;
	max-width: 250px;
	height: 30px;
	margin-left: 20px;
	padding: 0 11px;
	
	background-color: #144c75;
	
	background: -moz-linear-gradient(top, #144c75 0%, #002568 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #144c75), color-stop(100%, #002568));
	background: -webkit-linear-gradient(top, #144c75 0%, #002568 100%);
	background: -o-linear-gradient(top, #144c75 0%, #002568 100%);
	background: -ms-linear-gradient(top, #144c75 0%, #002568 100%);
	background: linear-gradient(to bottom, #144c75 0%, #002568 100%);
	
	border: none;
	
	-icab-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	line-height: 30px;
	outline: none;
	text-decoration: none;
}

.button:first-child{
	margin-left: 0;
}

.button:hover,      /*0 27 d                  0 16 7*/
.button:focus{
	background-color: #144b75;
	background: -moz-linear-gradient(top, #144b75 0%, #00356e 50%, #144b75 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #144b75), color-stop(50%, #00356e),
		color-stop(100%, #144b75));
	background: -webkit-linear-gradient(top, #144b75 0%, #00356e 50%, #144b75 100%);
	background: -o-linear-gradient(top, #144b75 0%, #00356e 50%, #144b75 100%);
	background: -ms-linear-gradient(top, #144b75 0%, #00356e 50%, #144b75 100%);
	background: linear-gradient(to bottom, #144b75 0%, #00356e 50%, #144b75 100%);
}

.button:active{
	background-color: #144b75;
	background: -moz-linear-gradient(top, #144b75 0%, #002568 50%, #144b75 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #144b75), color-stop(50%, #002568),
		color-stop(100%, #144b75));
	background: -webkit-linear-gradient(top, #144b75 0%, #002568 50%, #144b75 100%);
	background: -o-linear-gradient(top, #144b75 0%, #002568 50%, #144b75 100%);
	background: -ms-linear-gradient(top, #144b75 0%, #002568 50%, #144b75 100%);
	background: linear-gradient(to bottom, #144b75 0%, #002568 50%, #144b75 100%);
}

.button.left{
	-icab-border-radius: 3px 0 0 3px;
	-khtml-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	
	border-right: solid 1px #b3bccb;
}

.button.middle{
	margin-left: 0;
	
	-icab-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	border-right: solid 1px #b3bccb;
}

.button.right{
	margin-left: 0;
	
	-icab-border-radius: 0 3px 3px 0;
	-khtml-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.button.fix.fixed{
	background-color: #01ace4;
	
	background: -moz-linear-gradient(top, #01ace4 0%, #d2f2fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01ace4), color-stop(100%, #d2f2fd));
	background: -webkit-linear-gradient(top, #01ace4 0%, #d2f2fd 100%);
	background: -o-linear-gradient(top, #01ace4 0%, #d2f2fd 100%);
	background: -ms-linear-gradient(top, #01ace4 0%, #d2f2fd 100%);
	background: linear-gradient(to bottom, #01ace4 0%, #d2f2fd 100%);
	
	color: #eee;
}

.button.fix.fixed:hover,
.button.fix.fixed:focus{
	background-color: #d2f2fd;
	
	background: -moz-linear-gradient(top, #d2f2fd 0%, #00bbf2 50%, #d2f2fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2f2fd), color-stop(50%, #00bbf2),
		color-stop(100%, #d2f2fd));
	background: -webkit-linear-gradient(top, #d2f2fd 0%, #00bbf2 50%, #d2f2fd 100%);
	background: -o-linear-gradient(top, #d2f2fd 0%, #00bbf2 50%, #d2f2fd 100%);
	background: -ms-linear-gradient(top, #d2f2fd 0%, #00bbf2 50%, #d2f2fd 100%);
	background: linear-gradient(to bottom, #d2f2fd 0%, #00bbf2 50%, #d2f2fd 100%);
}

.button.fix.fixed:active{
	background-color: #d2f2fd;
	background: -moz-linear-gradient(top, #d2f2fd 0%, #00a5eb 50%, #d2f2fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2f2fd), color-stop(50%, #00a5eb),
		color-stop(100%, #d2f2fd));
	background: -webkit-linear-gradient(top, #d2f2fd 0%, #00a5eb 50%, #d2f2fd 100%);
	background: -o-linear-gradient(top, #d2f2fd 0%, #00a5eb 50%, #d2f2fd 100%);
	background: -ms-linear-gradient(top, #d2f2fd 0%, #00a5eb 50%, #d2f2fd 100%);
	background: linear-gradient(to bottom, #d2f2fd 0%, #00a5eb 50%, #d2f2fd 100%);
}

.button.big{
	height: 40px;
	padding: 0 39px;
	
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 16px;
	line-height: 40px;
}

.button.circle{
	width: 30px;
	padding: 0;
	
	-icab-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.button.big.circle{
	width: 40px;
	
	-icab-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.button.accept,
.button.activate,
.button.answer,
.button.appeal,
.button.back,
.button.cancel,
.button.choice,
.button.clear,
.button.compensation,
.button.complete,
.button.connection,
.button.counter,
.button.create,
.button.delete,
.button.deny,
.button.deploy,
.button.disbursement,
.button.disconnection,
.button.download,
.button.esia,
.button.esiadone,
.button.export,
.button.extend,
.button.history,
.button.house,
.button.i,
.button.import,
.button.login,
.button.logout,
.button.next,
.button.no,
.button.ok,
.button.operation,
.button.payment,
.button.premise,
.button.print,
.button.profile,
.button.reading,
.button.receipt,
.button.redirect,
.button.refresh,
.button.request,
.button.restore,
.button.return,
.button.revoke,
.button.rollback,
.button.save,
.button.search,
.button.select,
.button.service,
.button.subsidy,
.button.update,
.button.view,
.button.yes{
	padding-left: 30px;
}

.button.big.accept,
.button.big.activate,
.button.big.answer,
.button.big.appeal,
.button.big.back,
.button.big.cancel,
.button.big.choice,
.button.big.clear,
.button.big.compensation,
.button.big.complete,
.button.big.connection,
.button.big.counter,
.button.big.create,
.button.big.delete,
.button.big.deny,
.button.big.deploy,
.button.big.disbursement,
.button.big.disconnection,
.button.big.download,
.button.big.esia,
.button.big.esiadone,
.button.big.export,
.button.big.extend,
.button.big.history,
.button.big.house,
.button.big.i,
.button.big.import,
.button.big.login,
.button.big.logout,
.button.big.next,
.button.big.no,
.button.big.ok,
.button.big.operation,
.button.big.payment,
.button.big.premise,
.button.big.print,
.button.big.profile,
.button.big.reading,
.button.big.receipt,
.button.big.redirect,
.button.big.refresh,
.button.big.request,
.button.big.restore,
.button.big.return,
.button.big.revoke,
.button.big.rollback,
.button.big.save,
.button.big.search,
.button.big.select,
.button.big.service,
.button.big.subsidy,
.button.big.update,
.button.big.view,
.button.big.yes{
	padding-left: 53px;
}

.button.circle.accept,
.button.circle.activate,
.button.circle.answer,
.button.circle.appeal,
.button.circle.back,
.button.circle.cancel,
.button.circle.choice,
.button.circle.clear,
.button.circle.compensation,
.button.circle.complete,
.button.circle.connection,
.button.circle.counter,
.button.circle.create,
.button.circle.delete,
.button.circle.deny,
.button.circle.deploy,
.button.circle.disbursement,
.button.circle.disconnection,
.button.circle.download,
.button.circle.esia,
.button.circle.esiadone,
.button.circle.export,
.button.circle.extend,
.button.circle.history,
.button.circle.house,
.button.circle.i,
.button.circle.import,
.button.circle.login,
.button.circle.logout,
.button.circle.next,
.button.circle.no,
.button.circle.ok,
.button.circle.operation,
.button.circle.payment,
.button.circle.premise,
.button.circle.print,
.button.circle.profile,
.button.circle.reading,
.button.circle.receipt,
.button.circle.redirect,
.button.circle.refresh,
.button.circle.request,
.button.circle.restore,
.button.circle.return,
.button.circle.revoke,
.button.circle.rollback,
.button.circle.save,
.button.circle.search,
.button.circle.select,
.button.circle.service,
.button.circle.subsidy,
.button.circle.update,
.button.circle.view,
.button.circle.yes,
.button.big.circle.accept,
.button.big.circle.activate,
.button.big.circle.answer,
.button.big.circle.appeal,
.button.big.circle.back,
.button.big.circle.cancel,
.button.big.circle.choice,
.button.big.circle.clear,
.button.big.circle.compensation,
.button.big.circle.complete,
.button.big.circle.connection,
.button.big.circle.counter,
.button.big.circle.create,
.button.big.circle.delete,
.button.big.circle.deny,
.button.big.circle.deploy,
.button.big.circle.disbursement,
.button.big.circle.disconnection,
.button.big.circle.download,
.button.big.circle.esia,
.button.big.circle.esiadone,
.button.big.circle.export,
.button.big.circle.extend,
.button.big.circle.history,
.button.big.circle.house,
.button.big.circle.i,
.button.big.circle.import,
.button.big.circle.login,
.button.big.circle.logout,
.button.big.circle.next,
.button.big.circle.no,
.button.big.circle.ok,
.button.big.circle.operation,
.button.big.circle.payment,
.button.big.circle.premise,
.button.big.circle.print,
.button.big.circle.profile,
.button.big.circle.reading,
.button.big.circle.receipt,
.button.big.circle.redirect,
.button.big.circle.refresh,
.button.big.circle.request,
.button.big.circle.restore,
.button.big.circle.return,
.button.big.circle.revoke,
.button.big.circle.rollback,
.button.big.circle.save,
.button.big.circle.search,
.button.big.circle.select,
.button.big.circle.service,
.button.big.circle.subsidy,
.button.big.circle.update,
.button.big.circle.view,
.button.big.circle.yes{
	padding: 0;
}

.button.accept:before,
.button.activate:before,
.button.answer:before,
.button.appeal:before,
.button.back:before,
.button.cancel:before,
.button.choice:before,
.button.clear:before,
.button.compensation:before,
.button.complete:before,
.button.connection:before,
.button.counter:before,
.button.create:before,
.button.delete:before,
.button.deny:before,
.button.deploy:before,
.button.disbursement:before,
.button.disconnection:before,
.button.download:before,
.button.esia:before,
.button.esiadone:before,
.button.export:before,
.button.extend:before,
.button.history:before,
.button.house:before,
.button.i:before,
.button.import:before,
.button.login:before,
.button.logout:before,
.button.next:before,
.button.no:before,
.button.ok:before,
.button.operation:before,
.button.payment:before,
.button.premise:before,
.button.print:before,
.button.profile:before,
.button.reading:before,
.button.receipt:before,
.button.redirect:before,
.button.refresh:before,
.button.request:before,
.button.restore:before,
.button.return:before,
.button.revoke:before,
.button.rollback:before,
.button.save:before,
.button.search:before,
.button.select:before,
.button.service:before,
.button.subsidy:before,
.button.update:before,
.button.view:before,
.button.yes:before{
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 0;
	width: 24px;
	height: 30px;
	background-position: 0 center;
	background-repeat: no-repeat;
	content: '';
}

.button.big.accept:before,
.button.big.activate:before,
.button.big.answer:before,
.button.big.appeal:before,
.button.big.back:before,
.button.big.cancel:before,
.button.big.choice:before,
.button.big.clear:before,
.button.big.compensation:before,
.button.big.complete:before,
.button.big.connection:before,
.button.big.counter:before,
.button.big.create:before,
.button.big.delete:before,
.button.big.deny:before,
.button.big.deploy:before,
.button.big.disbursement:before,
.button.big.disconnection:before,
.button.big.download:before,
.button.big.esia:before,
.button.big.esiadone:before,
.button.big.export:before,
.button.big.extend:before,
.button.big.history:before,
.button.big.house:before,
.button.big.i:before,
.button.big.import:before,
.button.big.login:before,
.button.big.logout:before,
.button.big.next:before,
.button.big.no:before,
.button.big.ok:before,
.button.big.operation:before,
.button.big.payment:before,
.button.big.premise:before,
.button.big.print:before,
.button.big.profile:before,
.button.big.reading:before,
.button.big.receipt:before,
.button.big.redirect:before,
.button.big.refresh:before,
.button.big.request:before,
.button.big.restore:before,
.button.big.return:before,
.button.big.revoke:before,
.button.big.rollback:before,
.button.big.save:before,
.button.big.search:before,
.button.big.select:before,
.button.big.service:before,
.button.big.subsidy:before,
.button.big.update:before,
.button.big.view:before,
.button.big.yes:before{
	left: 20px;
	height: 40px;
}

.button.circle.accept:before,
.button.circle.activate:before,
.button.circle.answer:before,
.button.circle.appeal:before,
.button.circle.back:before,
.button.circle.cancel:before,
.button.circle.choice:before,
.button.circle.clear:before,
.button.circle.compensation:before,
.button.circle.complete:before,
.button.circle.connection:before,
.button.circle.counter:before,
.button.circle.create:before,
.button.circle.delete:before,
.button.circle.deny:before,
.button.circle.deploy:before,
.button.circle.disbursement:before,
.button.circle.disconnection:before,
.button.circle.download:before,
.button.circle.esia:before,
.button.circle.esiadone:before,
.button.circle.export:before,
.button.circle.extend:before,
.button.circle.history:before,
.button.circle.house:before,
.button.circle.i:before,
.button.circle.import:before,
.button.circle.login:before,
.button.circle.logout:before,
.button.circle.next:before,
.button.circle.no:before,
.button.circle.ok:before,
.button.circle.operation:before,
.button.circle.payment:before,
.button.circle.premise:before,
.button.circle.print:before,
.button.circle.profile:before,
.button.circle.reading:before,
.button.circle.receipt:before,
.button.circle.redirect:before,
.button.circle.refresh:before,
.button.circle.request:before,
.button.circle.restore:before,
.button.circle.return:before,
.button.circle.revoke:before,
.button.circle.rollback:before,
.button.circle.save:before,
.button.circle.search:before,
.button.circle.select:before,
.button.circle.service:before,
.button.circle.subsidy:before,
.button.circle.update:before,
.button.circle.view:before,
.button.circle.yes:before{
	left: 0;
	width: 30px;
	background-position: center center;
}

.button.big.circle.accept:before,
.button.big.circle.activate:before,
.button.big.circle.answer:before,
.button.big.circle.appeal:before,
.button.big.circle.back:before,
.button.big.circle.cancel:before,
.button.big.circle.choice:before,
.button.big.circle.clear:before,
.button.big.circle.compensation:before,
.button.big.circle.complete:before,
.button.big.circle.connection:before,
.button.big.circle.counter:before,
.button.big.circle.create:before,
.button.big.circle.delete:before,
.button.big.circle.deny:before,
.button.big.circle.deploy:before,
.button.big.circle.disbursement:before,
.button.big.circle.disconnection:before,
.button.big.circle.download:before,
.button.big.circle.esia:before,
.button.big.circle.esiadone:before,
.button.big.circle.export:before,
.button.big.circle.extend:before,
.button.big.circle.history:before,
.button.big.circle.house:before,
.button.big.circle.i:before,
.button.big.circle.import:before,
.button.big.circle.login:before,
.button.big.circle.logout:before,
.button.big.circle.next:before,
.button.big.circle.no:before,
.button.big.circle.ok:before,
.button.big.circle.operation:before,
.button.big.circle.payment:before,
.button.big.circle.premise:before,
.button.big.circle.print:before,
.button.big.circle.profile:before,
.button.big.circle.reading:before,
.button.big.circle.receipt:before,
.button.big.circle.redirect:before,
.button.big.circle.refresh:before,
.button.big.circle.request:before,
.button.big.circle.restore:before,
.button.big.circle.return:before,
.button.big.circle.revoke:before,
.button.big.circle.rollback:before,
.button.big.circle.save:before,
.button.big.circle.search:before,
.button.big.circle.select:before,
.button.big.circle.service:before,
.button.big.circle.subsidy:before,
.button.big.circle.update:before,
.button.big.circle.view:before,
.button.big.circle.yes:before{
	width: 40px;
}

.button.appeal:before,
.button.receipt:before{
	background-image: url($asset/images/button_appeal.png);
}

.button.answer:before{
	background-image: url($asset/images/button_answer.png);
}

.button.back:before{
	background-image: url($asset/images/button_back.png);
}

.button.cancel:before,
.button.deny:before,
.button.no:before{
	background-image: url($asset/images/button_cancel.png);
}

.button.choice:before{
	background-image: url($asset/images/button_choice.png);
}

.button.clear:before,
.button.disconnection:before,
.button.esiadone:before,
.button.revoke:before{
	background-image: url($asset/images/button_clear.png);
}

.button.counter:before{
	background-image: url($asset/images/button_counter.png);
}

.button.create:before,
.button.connection:before,
.button.import:before,
.button.reading:before{
	background-image: url($asset/images/button_create.png);
}

.button.delete:before{
	background-image: url($asset/images/button_delete.png);
}

.button.deploy:before,
.button.export:before{
	background-image: url($asset/images/button_deploy.png);
}

.button.download:before,
.button.accept:before{
	background-image: url($asset/images/button_download.png);
}

.button.disbursement:before,
.button.compensation:before,
.button.subsidy:before{
	background-image: url($asset/images/button_disbursement.png);
}

.button.esia:before{
	background-image: url($asset/images/button_esia.png);
}

.button.history:before,
.button.extend:before{
	background-image: url($asset/images/button_history.png);
}

.button.house:before{
	background-image: url($asset/images/button_house.png);
}

.button.login:before{
	background-image: url($asset/images/button_login.png);
}

.button.logout:before{
	background-image: url($asset/images/button_logout.png);
}

.button.next:before{
	background-image: url($asset/images/button_next.png);
}

.button.ok:before,
.button.activate:before,
.button.complete:before,
.button.select:before,
.button.yes:before{
	background-image: url($asset/images/button_ok.png);
}

.button.operation:before{
	background-image: url($asset/images/button_operation.png);
}

.button.payment:before{
	background-image: url($asset/images/button_payment.png);
}

.button.premise:before{
	background-image: url($asset/images/button_premise.png);
}

.button.profile:before,
.button.i:before{
	background-image: url($asset/images/button_profile.png);
}

.button.print:before{
	background-image: url($asset/images/button_print.png);
}

.button.redirect:before{
	background-image: url($asset/images/button_redirect.png);
}

.button.refresh:before{
	background-image: url($asset/images/button_refresh.png);
}

.button.request:before{
	background-image: url($asset/images/button_request.png);
}

.button.return:before{
	background-image: url($asset/images/button_return.png);
}

.button.rollback:before,
.button.restore:before{
	background-image: url($asset/images/button_rollback.png);
}

.button.save:before{
	background-image: url($asset/images/button_save.png);
}

.button.service:before{
	background-image: url($asset/images/button_service.png);
}

.button.update:before{
	background-image: url($asset/images/button_update.png);
}

.button.view:before,
.button.search:before{
	background-image: url($asset/images/button_view.png);
}

.button.disabled{/* c5 22 1      10 10 c*/
	background-color: #64acd5;
	
	background: -moz-linear-gradient(top, #64acd5 0%, #74bce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64acd5), color-stop(100%, #74bce5));
	background: -webkit-linear-gradient(top, #64acd5 0%, #74bce5 100%);
	background: -o-linear-gradient(top, #64acd5 0%, #74bce5 100%);
	background: -ms-linear-gradient(top, #64acd5 0%, #74bce5 100%);
	background: linear-gradient(to bottom, #64acd5 0%, #74bce5 100%);
	background: linear-gradient(to bottom, #64acd5 0%, #74bce5 100%);
	
	cursor: default;
}

.button.orange{
	background: #ff9d04;
	background: -moz-linear-gradient(top, #ff9d04 0%, #f29000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9d04), color-stop(100%, #f29000));
	background: -webkit-linear-gradient(top, #ff9d04 0%, #f29000 100%);
	background: -o-linear-gradient(top, #ff9d04 0%, #f29000 100%);
	background: -ms-linear-gradient(top, #ff9d04 0%, #f29000 100%);
	background: linear-gradient(to bottom, #ff9d04 0%, #f29000 100%);
}

.button.orange:hover,
.button.orange:focus{
	background-color: #ff9d04;
	background: -moz-linear-gradient(top, #ff9d04 0%, #e98700 50%, #ff9d04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9d04), color-stop(50%, #e98700),
		color-stop(100%, #ff9d04));
	background: -webkit-linear-gradient(top, #ff9d04 0%, #e98700 50%, #ff9d04 100%);
	background: -o-linear-gradient(top, #ff9d04 0%, #e98700 50%, #ff9d04 100%);
	background: -ms-linear-gradient(top, #ff9d04 0%, #e98700 50%, #ff9d04 100%);
	background: linear-gradient(to bottom, #ff9d04 0%, #e98700 50%, #ff9d04 100%);
}

.button.orange:active{
	background-color: #ff9d04;
	background: -moz-linear-gradient(top, #ff9d04 0%, #d97700 50%, #ff9d04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9d04), color-stop(50%, #d97700),
		color-stop(100%, #ff9d04));
	background: -webkit-linear-gradient(top, #ff9d04 0%, #d97700 50%, #ff9d04 100%);
	background: -o-linear-gradient(top, #ff9d04 0%, #d97700 50%, #ff9d04 100%);
	background: -ms-linear-gradient(top, #ff9d04 0%, #d97700 50%, #ff9d04 100%);
	background: linear-gradient(to bottom, #ff9d04 0%, #d97700 50%, #ff9d04 100%);
}

.button.orange.left,
.button.orange.middle{
	border-right: solid 1px #cbb8b8;
}

.button.orange.fix.fixed{
	background-color: #f49200;
	
	background: -moz-linear-gradient(top, #f49200 0%, #ffedd2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49200), color-stop(100%, #ffedd2));
	background: -webkit-linear-gradient(top, #f49200 0%, #ffedd2 100%);
	background: -o-linear-gradient(top, #f49200 0%, #ffedd2 100%);
	background: -ms-linear-gradient(top, #f49200 0%, #ffedd2 100%);
	background: linear-gradient(to bottom, #f49200 0%, #ffedd2 100%);
	
	color: #eee;
}

.button.orange.fix.fixed:hover,
.button.orange.fix.fixed:focus{
	background-color: #ffedd2;
	
	background: -moz-linear-gradient(top, #ffedd2 0%, #ff9d04 50%, #ffedd2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffedd2), color-stop(50%, #ff9d04),
		color-stop(100%, #ffedd2));
	background: -webkit-linear-gradient(top, #ffedd2 0%, #ff9d04 50%, #ffedd2 100%);
	background: -o-linear-gradient(top, #d2f2fd #ffedd2 0%, #ff9d04 50%, #ffedd2 100%);
	background: -ms-linear-gradient(top, #ffedd2 0%, #ff9d04 50%, #ffedd2 100%);
	background: linear-gradient(to bottom, #ffedd2 0%, #ff9d04 50%, #ffedd2 100%);
}

.button.orange.fix.fixed:active{
	background-color: #ffedd2;
	
	background: -moz-linear-gradient(top, #ffedd2 0%, #e98700 50%, #ffedd2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffedd2), color-stop(50%, #e98700),
		color-stop(100%, #ffedd2));
	background: -webkit-linear-gradient(top, #ffedd2 0%, #e98700 50%, #ffedd2 100%);
	background: -o-linear-gradient(top, #d2f2fd #ffedd2 0%, #e98700 50%, #ffedd2 100%);
	background: -ms-linear-gradient(top, #ffedd2 0%, #e98700 50%, #ffedd2 100%);
	background: linear-gradient(to bottom, #ffedd2 0%, #e98700 50%, #ffedd2 100%);
}

.button.orange.disabled{
	background-color: #f3dec5;
	
	background: -moz-linear-gradient(top, #f3dec5 0%, #ffeed5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3dec5), color-stop(100%, #ffeed5));
	background: -webkit-linear-gradient(top, #f3dec5 0%, #ffeed5 100%);
	background: -o-linear-gradient(top, #f3dec5 0%, #ffeed5 100%);
	background: -ms-linear-gradient(top, #f3dec5 0%, #ffeed5 100%);
	background: linear-gradient(to bottom, #f3dec5 0%, #ffeed5 100%);
	background: linear-gradient(to bottom, #f3dec5 0%, #ffeed5 100%);
}

/*
background: linear-gradient(to bottom, #144c75 0%, #002568 100%);								27 (d)
background: linear-gradient(to bottom, #144b75 0%, #00356e 50%, #144b75 100%);	(16) 7
background: linear-gradient(to bottom, #144b75 0%, #002568 50%, #144b75 100%);  (26) d
background: linear-gradient(to bottom, #01ace4 0%, #d2f2fd 100%);								10 e (b), d2 5d 18 (3)
background: linear-gradient(to bottom, #d2f2fd 0%, #144b75 50%, #d2f2fd 100%);
background: linear-gradient(to bottom, #d2f2fd 0%, #00356e 50%, #d2f2fd 100%);
background: linear-gradient(to bottom, #64acd5 0%, #74bce5 100%);
*/

.button.gray{
	background: #c7c7c7;
	background: -moz-linear-gradient(top, #c7c7c7 0%, #bababa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c7c7), color-stop(100%, #bababa));
	background: -webkit-linear-gradient(top, #c7c7c7 0%, #bababa 100%);
	background: -o-linear-gradient(top, #c7c7c7 0%, #bababa 100%);
	background: -ms-linear-gradient(top, #c7c7c7 0%, #bababa 100%);
	background: linear-gradient(to bottom, #c7c7c7 0%, #bababa 100%);
}

.button.gray:hover,
.button.gray:focus{
	background-color: #c7c7c7;
	background: -moz-linear-gradient(top, #c7c7c7 0%, #b1b1b1 50%, #c7c7c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c7c7), color-stop(50%, #b1b1b1),
		color-stop(100%, #c7c7c7));
	background: -webkit-linear-gradient(top, #c7c7c7 0%, #b1b1b1 50%, #c7c7c7 100%);
	background: -o-linear-gradient(top, #c7c7c7 0%, #b1b1b1 50%, #c7c7c7 100%);
	background: -ms-linear-gradient(top, #c7c7c7 0%, #b1b1b1 50%, #c7c7c7 100%);
	background: linear-gradient(to bottom, #c7c7c7 0%, #b1b1b1 50%, #c7c7c7 100%);
}

.button.gray:active{
	background-color: #c7c7c7;
	background: -moz-linear-gradient(top, #c7c7c7 0%, #a1a1a1 50%, #c7c7c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c7c7), color-stop(50%, #a1a1a1),
		color-stop(100%, #c7c7c7));
	background: -webkit-linear-gradient(top, #c7c7c7 0%, #a1a1a1 50%, #c7c7c7 100%);
	background: -o-linear-gradient(top, #c7c7c7 0%, #a1a1a1 50%, #c7c7c7 100%);
	background: -ms-linear-gradient(top, #c7c7c7 0%, #a1a1a1 50%, #c7c7c7 100%);
	background: linear-gradient(to bottom, #c7c7c7 0%, #a1a1a1 50%, #c7c7c7 100%);
}

.button.gray.left,
.button.gray.middle{
	border-right: solid 1px #ddd;
}

.button.gray.fix.fixed{
	background-color: #bcbcbc;
	
	background: -moz-linear-gradient(top, #bcbcbc 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #bcbcbc 0%, #eaeaea 100%);
	background: -o-linear-gradient(top, #bcbcbc 0%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #bcbcbc 0%, #eaeaea 100%);
	background: linear-gradient(to bottom, #bcbcbc 0%, #eaeaea 100%);
	
	color: #eee;
}

.button.gray.fix.fixed:hover,
.button.gray.fix.fixed:focus{
	background-color: #eaeaea;
	
	background: -moz-linear-gradient(top, #eaeaea 0%, #c7c7c7 50%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(50%, #c7c7c7),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #eaeaea 0%, #c7c7c7 50%, #eaeaea 100%);
	background: -o-linear-gradient(top, #eaeaea 0%, #c7c7c7 50%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%, #c7c7c7 50%, #eaeaea 100%);
	background: linear-gradient(to bottom, #eaeaea 0%, #c7c7c7 50%, #eaeaea 100%);
}

.button.gray.fix.fixed:active{
	background-color: #eaeaea;
	
	background: -moz-linear-gradient(top, #eaeaea 0%, #b1b1b1 50%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(50%, #b1b1b1),
		color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #eaeaea 0%, #b1b1b1 50%, #eaeaea 100%);
	background: -o-linear-gradient(top, #eaeaea 0%, #b1b1b1 50%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%, #b1b1b1 50%, #eaeaea 100%);
	background: linear-gradient(to bottom, #eaeaea 0%, #b1b1b1 50%, #eaeaea 100%);
}

.button.gray.disabled{
	background-color: #dedede;
	
	background: -moz-linear-gradient(top, #dedede 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #e6e6e6));
	background: -webkit-linear-gradient(top, #dedede 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #dedede 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #dedede 0%, #e6e6e6 100%);
	background: linear-gradient(to bottom, #dedede 0%, #e6e6e6 100%);
	background: linear-gradient(to bottom, #dedede 0%, #e6e6e6 100%);
}

.button.contur{
	padding: 0 10px;
	background: none;
	border: solid 1px #b3bccb;
	box-shadow: none;
	color: inherit;
}

.button.contur:hover,
.button.contur:focus{
	border-color: #aaf;
	box-shadow: 0 0 5px #aaa;
}

.button.contur:active{
	border-color: #88d;
	box-shadow: 0 0 10px #aaa;
}

.button.contur.left,
.button.contur.middle{
	padding-right: 11px;
	border-right: none;
}

.button.contur.middle,
.button.contur.right{
	padding-left: 11px;
}

.button.contur.fix.fixed{
	background: #eee;
	color: inherit;
}

.button.contur.fix.fixed:hover,
.button.contur.fix.fixed:focus{
	background: #e6e6e6;
}

.button.contur.fix.fixed:active{
	background: #dedede;
}

.button.contur.big{
	padding: 0 38px;
}

.button.contur.circle{
	padding: 0;
}

.button.contur.accept,
.button.contur.activate,
.button.contur.answer,
.button.contur.appeal,
.button.contur.back,
.button.contur.cancel,
.button.contur.choice,
.button.contur.clear,
.button.contur.compensation,
.button.contur.complete,
.button.contur.connection,
.button.contur.counter,
.button.contur.create,
.button.contur.delete,
.button.contur.deny,
.button.contur.deploy,
.button.contur.disbursement,
.button.contur.disconnection,
.button.contur.download,
.button.contur.esia,
.button.contur.esiadone,
.button.contur.export,
.button.contur.extend,
.button.contur.history,
.button.contur.house,
.button.contur.i,
.button.contur.import,
.button.contur.login,
.button.contur.logout,
.button.contur.next,
.button.contur.no,
.button.contur.ok,
.button.contur.operation,
.button.contur.payment,
.button.contur.premise,
.button.contur.print,
.button.contur.profile,
.button.contur.reading,
.button.contur.receipt,
.button.contur.redirect,
.button.contur.refresh,
.button.contur.request,
.button.contur.restore,
.button.contur.return,
.button.contur.revoke,
.button.contur.rollback,
.button.contur.save,
.button.contur.search,
.button.contur.select,
.button.contur.service,
.button.contur.subsidy,
.button.contur.update,
.button.contur.view,
.button.contur.yes{
	padding-left: 29px;
}

.button.contur.big.accept,
.button.contur.big.activate,
.button.contur.big.answer,
.button.contur.big.appeal,
.button.contur.big.back,
.button.contur.big.cancel,
.button.contur.big.choice,
.button.contur.big.clear,
.button.contur.big.compensation,
.button.contur.big.complete,
.button.contur.big.connection,
.button.contur.big.counter,
.button.contur.big.create,
.button.contur.big.delete,
.button.contur.big.deny,
.button.contur.big.deploy,
.button.contur.big.disbursement,
.button.contur.big.disconnection,
.button.contur.big.download,
.button.contur.big.esia,
.button.contur.big.esiadone,
.button.contur.big.export,
.button.contur.big.extend,
.button.contur.big.history,
.button.contur.big.house,
.button.contur.big.i,
.button.contur.big.import,
.button.contur.big.login,
.button.contur.big.logout,
.button.contur.big.next,
.button.contur.big.no,
.button.contur.big.ok,
.button.contur.big.operation,
.button.contur.big.payment,
.button.contur.big.premise,
.button.contur.big.print,
.button.contur.big.profile,
.button.contur.big.reading,
.button.contur.big.receipt,
.button.contur.big.redirect,
.button.contur.big.refresh,
.button.contur.big.request,
.button.contur.big.restore,
.button.contur.big.return,
.button.contur.big.revoke,
.button.contur.big.rollback,
.button.contur.big.save,
.button.contur.big.search,
.button.contur.big.select,
.button.contur.big.service,
.button.contur.big.subsidy,
.button.contur.big.update,
.button.contur.big.view,
.button.contur.big.yes{
	padding-left: 52px;
}

.button.contur.circle.accept,
.button.contur.circle.activate,
.button.contur.circle.answer,
.button.contur.circle.appeal,
.button.contur.circle.back,
.button.contur.circle.cancel,
.button.contur.circle.choice,
.button.contur.circle.clear,
.button.contur.circle.compensation,
.button.contur.circle.complete,
.button.contur.circle.connection,
.button.contur.circle.counter,
.button.contur.circle.create,
.button.contur.circle.delete,
.button.contur.circle.deny,
.button.contur.circle.deploy,
.button.contur.circle.disbursement,
.button.contur.circle.disconnection,
.button.contur.circle.download,
.button.contur.circle.esia,
.button.contur.circle.esiadone,
.button.contur.circle.export,
.button.contur.circle.extend,
.button.contur.circle.history,
.button.contur.circle.house,
.button.contur.circle.i,
.button.contur.circle.import,
.button.contur.circle.login,
.button.contur.circle.logout,
.button.contur.circle.next,
.button.contur.circle.no,
.button.contur.circle.ok,
.button.contur.circle.operation,
.button.contur.circle.payment,
.button.contur.circle.premise,
.button.contur.circle.print,
.button.contur.circle.profile,
.button.contur.circle.reading,
.button.contur.circle.receipt,
.button.contur.circle.redirect,
.button.contur.circle.refresh,
.button.contur.circle.request,
.button.contur.circle.restore,
.button.contur.circle.return,
.button.contur.circle.revoke,
.button.contur.circle.rollback,
.button.contur.circle.save,
.button.contur.circle.search,
.button.contur.circle.select,
.button.contur.circle.service,
.button.contur.circle.subsidy,
.button.contur.circle.update,
.button.contur.circle.view,
.button.contur.circle.yes,
.button.contur.big.circle.accept,
.button.contur.big.circle.activate,
.button.contur.big.circle.answer,
.button.contur.big.circle.appeal,
.button.contur.big.circle.back,
.button.contur.big.circle.cancel,
.button.contur.big.circle.choice,
.button.contur.big.circle.clear,
.button.contur.big.circle.compensation,
.button.contur.big.circle.complete,
.button.contur.big.circle.connection,
.button.contur.big.circle.counter,
.button.contur.big.circle.create,
.button.contur.big.circle.delete,
.button.contur.big.circle.deny,
.button.contur.big.circle.deploy,
.button.contur.big.circle.disbursement,
.button.contur.big.circle.disconnection,
.button.contur.big.circle.download,
.button.contur.big.circle.esia,
.button.contur.big.circle.esiadone,
.button.contur.big.circle.export,
.button.contur.big.circle.extend,
.button.contur.big.circle.history,
.button.contur.big.circle.house,
.button.contur.big.circle.i,
.button.contur.big.circle.import,
.button.contur.big.circle.login,
.button.contur.big.circle.logout,
.button.contur.big.circle.next,
.button.contur.big.circle.no,
.button.contur.big.circle.ok,
.button.contur.big.circle.operation,
.button.contur.big.circle.payment,
.button.contur.big.circle.premise,
.button.contur.big.circle.print,
.button.contur.big.circle.profile,
.button.contur.big.circle.reading,
.button.contur.big.circle.receipt,
.button.contur.big.circle.redirect,
.button.contur.big.circle.refresh,
.button.contur.big.circle.request,
.button.contur.big.circle.restore,
.button.contur.big.circle.return,
.button.contur.big.circle.revoke,
.button.contur.big.circle.rollback,
.button.contur.big.circle.save,
.button.contur.big.circle.search,
.button.contur.big.circle.select,
.button.contur.big.circle.service,
.button.contur.big.circle.subsidy,
.button.contur.big.circle.update,
.button.contur.big.circle.view,
.button.contur.big.circle.yes{
	padding: 0;
}

.button.contur.accept:before,
.button.contur.activate:before,
.button.contur.answer:before,
.button.contur.appeal:before,
.button.contur.back:before,
.button.contur.cancel:before,
.button.contur.choice:before,
.button.contur.clear:before,
.button.contur.compensation:before,
.button.contur.complete:before,
.button.contur.connection:before,
.button.contur.counter:before,
.button.contur.create:before,
.button.contur.delete:before,
.button.contur.deny:before,
.button.contur.deploy:before,
.button.contur.disbursement:before,
.button.contur.disconnection:before,
.button.contur.download:before,
.button.contur.esia:before,
.button.contur.esiadone:before,
.button.contur.export:before,
.button.contur.extend:before,
.button.contur.history:before,
.button.contur.house:before,
.button.contur.i:before,
.button.contur.import:before,
.button.contur.login:before,
.button.contur.logout:before,
.button.contur.next:before,
.button.contur.no:before,
.button.contur.ok:before,
.button.contur.operation:before,
.button.contur.payment:before,
.button.contur.premise:before,
.button.contur.print:before,
.button.contur.profile:before,
.button.contur.reading:before,
.button.contur.receipt:before,
.button.contur.redirect:before,
.button.contur.refresh:before,
.button.contur.request:before,
.button.contur.restore:before,
.button.contur.return:before,
.button.contur.revoke:before,
.button.contur.rollback:before,
.button.contur.save:before,
.button.contur.search:before,
.button.contur.select:before,
.button.contur.service:before,
.button.contur.subsidy:before,
.button.contur.update:before,
.button.contur.view:before,
.button.contur.yes:before{
	left: 4px;
	width: 22px;
	height: 28px;
}

.button.contur.big.accept:before,
.button.contur.big.activate:before,
.button.contur.big.answer:before,
.button.contur.big.appeal:before,
.button.contur.big.back:before,
.button.contur.big.cancel:before,
.button.contur.big.choice:before,
.button.contur.big.clear:before,
.button.contur.big.compensation:before,
.button.contur.big.complete:before,
.button.contur.big.connection:before,
.button.contur.big.counter:before,
.button.contur.big.create:before,
.button.contur.big.delete:before,
.button.contur.big.deny:before,
.button.contur.big.deploy:before,
.button.contur.big.disbursement:before,
.button.contur.big.disconnection:before,
.button.contur.big.download:before,
.button.contur.big.esia:before,
.button.contur.big.esiadone:before,
.button.contur.big.export:before,
.button.contur.big.extend:before,
.button.contur.big.history:before,
.button.contur.big.house:before,
.button.contur.big.i:before,
.button.contur.big.import:before,
.button.contur.big.login:before,
.button.contur.big.logout:before,
.button.contur.big.next:before,
.button.contur.big.no:before,
.button.contur.big.ok:before,
.button.contur.big.operation:before,
.button.contur.big.payment:before,
.button.contur.big.premise:before,
.button.contur.big.print:before,
.button.contur.big.profile:before,
.button.contur.big.reading:before,
.button.contur.big.receipt:before,
.button.contur.big.redirect:before,
.button.contur.big.refresh:before,
.button.contur.big.request:before,
.button.contur.big.restore:before,
.button.contur.big.return:before,
.button.contur.big.revoke:before,
.button.contur.big.rollback:before,
.button.contur.big.save:before,
.button.contur.big.search:before,
.button.contur.big.select:before,
.button.contur.big.service:before,
.button.contur.big.subsidy:before,
.button.contur.big.update:before,
.button.contur.big.view:before,
.button.contur.big.yes:before{
	left: 19px;
	height: 38px;
}

.button.contur.circle.accept:before,
.button.contur.circle.activate:before,
.button.contur.circle.answer:before,
.button.contur.circle.appeal:before,
.button.contur.circle.back:before,
.button.contur.circle.cancel:before,
.button.contur.circle.choice:before,
.button.contur.circle.clear:before,
.button.contur.circle.compensation:before,
.button.contur.circle.complete:before,
.button.contur.circle.connection:before,
.button.contur.circle.counter:before,
.button.contur.circle.create:before,
.button.contur.circle.delete:before,
.button.contur.circle.deny:before,
.button.contur.circle.deploy:before,
.button.contur.circle.disbursement:before,
.button.contur.circle.disconnection:before,
.button.contur.circle.download:before,
.button.contur.circle.esia:before,
.button.contur.circle.esiadone:before,
.button.contur.circle.export:before,
.button.contur.circle.extend:before,
.button.contur.circle.history:before,
.button.contur.circle.house:before,
.button.contur.circle.i:before,
.button.contur.circle.import:before,
.button.contur.circle.login:before,
.button.contur.circle.logout:before,
.button.contur.circle.next:before,
.button.contur.circle.no:before,
.button.contur.circle.ok:before,
.button.contur.circle.operation:before,
.button.contur.circle.payment:before,
.button.contur.circle.premise:before,
.button.contur.circle.print:before,
.button.contur.circle.profile:before,
.button.contur.circle.reading:before,
.button.contur.circle.receipt:before,
.button.contur.circle.redirect:before,
.button.contur.circle.refresh:before,
.button.contur.circle.request:before,
.button.contur.circle.restore:before,
.button.contur.circle.return:before,
.button.contur.circle.revoke:before,
.button.contur.circle.rollback:before,
.button.contur.circle.save:before,
.button.contur.circle.search:before,
.button.contur.circle.select:before,
.button.contur.circle.service:before,
.button.contur.circle.subsidy:before,
.button.contur.circle.update:before,
.button.contur.circle.view:before,
.button.contur.circle.yes:before{
	left: 0;
	width: 28px;
}

.button.big.circle.accept:before,
.button.big.circle.activate:before,
.button.big.circle.answer:before,
.button.big.circle.appeal:before,
.button.big.circle.back:before,
.button.contur.big.circle.cancel:before,
.button.contur.big.circle.choice:before,
.button.contur.big.circle.clear:before,
.button.contur.big.circle.compensation:before,
.button.contur.big.circle.complete:before,
.button.contur.big.circle.connection:before,
.button.contur.big.circle.counter:before,
.button.contur.big.circle.create:before,
.button.contur.big.circle.delete:before,
.button.contur.big.circle.deny:before,
.button.contur.big.circle.deploy:before,
.button.contur.big.circle.disbursement:before,
.button.contur.big.circle.disconnection:before,
.button.contur.big.circle.download:before,
.button.contur.big.circle.esia:before,
.button.contur.big.circle.esiadone:before,
.button.contur.big.circle.export:before,
.button.contur.big.circle.extend:before,
.button.contur.big.circle.history:before,
.button.contur.big.circle.house:before,
.button.contur.big.circle.i:before,
.button.contur.big.circle.import:before,
.button.contur.big.circle.login:before,
.button.contur.big.circle.logout:before,
.button.contur.big.circle.next:before,
.button.contur.big.circle.no:before,
.button.contur.big.circle.ok:before,
.button.contur.big.circle.operation:before,
.button.contur.big.circle.payment:before,
.button.contur.big.circle.premise:before,
.button.contur.big.circle.print:before,
.button.contur.big.circle.profile:before,
.button.contur.big.circle.reading:before,
.button.contur.big.circle.receipt:before,
.button.contur.big.circle.redirect:before,
.button.contur.big.circle.refresh:before,
.button.contur.big.circle.request:before,
.button.contur.big.circle.restore:before,
.button.contur.big.circle.return:before,
.button.contur.big.circle.revoke:before,
.button.contur.big.circle.rollback:before,
.button.contur.big.circle.save:before,
.button.contur.big.circle.search:before,
.button.contur.big.circle.select:before,
.button.contur.big.circle.service:before,
.button.contur.big.circle.subsidy:before,
.button.contur.big.circle.update:before,
.button.contur.big.circle.view:before,
.button.contur.big.circle.yes:before{
	width: 38px;
}

.button.contur.appeal:before,
.button.contur.receipt:before{
	background-image: url($asset/images/button_appeal_contur.png);
}

.button.contur.answer:before{
	background-image: url($asset/images/button_answer_contur.png);
}

.button.contur.back:before{
	background-image: url($asset/images/button_back_contur.png);
}

.button.contur.cancel:before,
.button.contur.deny:before,
.button.contur.no:before{
	background-image: url($asset/images/button_cancel_contur.png);
}

.button.contur.choice:before{
	background-image: url($asset/images/button_choice_contur.png);
}

.button.contur.clear:before,
.button.contur.disconnection:before,
.button.contur.esiadone:before,
.button.contur.revoke:before{
	background-image: url($asset/images/button_clear_contur.png);
}

.button.contur.counter:before{
	background-image: url($asset/images/button_counter_contur.png);
}

.button.contur.create:before,
.button.contur.connection:before,
.button.contur.import:before,
.button.contur.reading:before{
	background-image: url($asset/images/button_create_contur.png);
}

.button.contur.delete:before{
	background-image: url($asset/images/button_delete_contur.png);
}

.button.contur.deploy:before,
.button.contur.export:before{
	background-image: url($asset/images/button_deploy_contur.png);
}

.button.contur.download:before,
.button.contur.accept:before{
	background-image: url($asset/images/button_download_contur.png);
}

.button.contur.disbursement:before,
.button.contur.compensation:before,
.button.contur.subsidy:before{
	background-image: url($asset/images/button_disbursement_contur.png);
}

.button.contur.esia:before{
	background-image: url($asset/images/button_esia_contur.png);
}

.button.contur.history:before,
.button.contur.extend:before{
	background-image: url($asset/images/button_history_contur.png);
}

.button.contur.house:before{
	background-image: url($asset/images/button_house_contur.png);
}

.button.contur.login:before{
	background-image: url($asset/images/button_login_contur.png);
}

.button.contur.logout:before{
	background-image: url($asset/images/button_logout_contur.png);
}

.button.contur.next:before{
	background-image: url($asset/images/button_next_contur.png);
}

.button.contur.ok:before,
.button.contur.activate:before,
.button.contur.complete:before,
.button.contur.select:before,
.button.contur.yes:before{
	background-image: url($asset/images/button_ok_contur.png);
}

.button.contur.operation:before{
	background-image: url($asset/images/button_operation_contur.png);
}

.button.contur.payment:before{
	background-image: url($asset/images/button_payment_contur.png);
}

.button.contur.premise:before{
	background-image: url($asset/images/button_premise_contur.png);
}

.button.contur.profile:before,
.button.contur.i:before{
	background-image: url($asset/images/button_profile_contur.png);
}

.button.contur.print:before{
	background-image: url($asset/images/button_print_contur.png);
}

.button.contur.redirect:before{
	background-image: url($asset/images/button_redirect_contur.png);
}

.button.contur.refresh:before{
	background-image: url($asset/images/button_refresh_contur.png);
}

.button.contur.request:before{
	background-image: url($asset/images/button_request_contur.png);
}

.button.contur.return:before{
	background-image: url($asset/images/button_return_contur.png);
}

.button.contur.rollback:before,
.button.contur.restore:before{
	background-image: url($asset/images/button_rollback_contur.png);
}

.button.contur.save:before{
	background-image: url($asset/images/button_save_contur.png);
}

.button.contur.service:before{
	background-image: url($asset/images/button_service_contur.png);
}

.button.contur.update:before{
	background-image: url($asset/images/button_update_contur.png);
}

.button.contur.view:before,
.button.contur.search:before{
	background-image: url($asset/images/button_view_contur.png);
}

.button.contur.disabled{
	color: #ddd;
	border: solid 1px #b3bccb;
	box-shadow: none;
}

.button.contur.disabled.appeal:before,
.button.contur.disabled.receipt:before{
	background-image: url($asset/images/button_appeal_contur_disabled.png);
}

.button.contur.disabled.answer:before{
	background-image: url($asset/images/button_answer_contur_disabled.png);
}

.button.contur.disabled.back:before{
	background-image: url($asset/images/button_back_contur_disabled.png);
}

.button.contur.disabled.cancel:before,
.button.contur.disabled.deny:before,
.button.contur.disabled.no:before{
	background-image: url($asset/images/button_cancel_contur_disabled.png);
}

.button.contur.disabled.choice:before{
	background-image: url($asset/images/button_choice_contur_disabled.png);
}

.button.contur.disabled.clear:before,
.button.contur.disabled.disconnection:before,
.button.contur.disabled.esiadone:before,
.button.contur.disabled.revoke:before{
	background-image: url($asset/images/button_clear_contur_disabled.png);
}

.button.contur.disabled.counter:before{
	background-image: url($asset/images/button_counter_contur_disabled.png);
}

.button.contur.disabled.create:before,
.button.contur.disabled.connection:before,
.button.contur.disabled.import:before,
.button.contur.disabled.reading:before{
	background-image: url($asset/images/button_create_contur_disabled.png);
}

.button.contur.disabled.delete:before{
	background-image: url($asset/images/button_delete_contur_disabled.png);
}

.button.contur.disabled.deploy:before,
.button.contur.disabled.export:before{
	background-image: url($asset/images/button_deploy_contur_disabled.png);
}

.button.contur.disabled.download:before,
.button.contur.disabled.accept:before{
	background-image: url($asset/images/button_download_contur_disabled.png);
}

.button.contur.disabled.disbursement:before,
.button.contur.disabled.compensation:before,
.button.contur.disabled.subsidy:before{
	background-image: url($asset/images/button_disbursement_contur_disabled.png);
}

.button.contur.disabled.esia:before{
	background-image: url($asset/images/button_esia_contur_disabled.png);
}

.button.contur.disabled.history:before,
.button.contur.disabled.extend:before{
	background-image: url($asset/images/button_history_contur_disabled.png);
}

.button.contur.disabled.house:before{
	background-image: url($asset/images/button_house_contur_disabled.png);
}

.button.contur.disabled.login:before{
	background-image: url($asset/images/button_login_contur_disabled.png);
}

.button.contur.disabled.logout:before{
	background-image: url($asset/images/button_logout_contur_disabled.png);
}

.button.contur.disabled.next:before{
	background-image: url($asset/images/button_next_contur_disabled.png);
}

.button.contur.disabled.ok:before,
.button.contur.disabled.activate:before,
.button.contur.disabled.complete:before,
.button.contur.disabled.select:before,
.button.contur.disabled.yes:before{
	background-image: url($asset/images/button_ok_contur_disabled.png);
}

.button.contur.disabled.operation:before{
	background-image: url($asset/images/button_operation_contur_disabled.png);
}

.button.contur.disabled.payment:before{
	background-image: url($asset/images/button_payment_contur_disabled.png);
}

.button.contur.disabled.premise:before{
	background-image: url($asset/images/button_premise_contur_disabled.png);
}

.button.contur.disabled.print:before{
	background-image: url($asset/images/button_print_contur_disabled.png);
}

.button.contur.disabled.profile:before,
.button.contur.disabled.i:before{
	background-image: url($asset/images/button_profile_contur_disabled.png);
}

.button.contur.disabled.redirect:before{
	background-image: url($asset/images/button_redirect_contur_disabled.png);
}

.button.contur.disabled.refresh:before{
	background-image: url($asset/images/button_refresh_contur_disabled.png);
}

.button.contur.disabled.request:before{
	background-image: url($asset/images/button_request_contur_disabled.png);
}

.button.contur.disabled.return:before{
	background-image: url($asset/images/button_return_contur_disabled.png);
}

.button.contur.disabled.rollback:before,
.button.contur.disabled.restore:before{
	background-image: url($asset/images/button_rollback_contur_disabled.png);
}

.button.contur.disabled.save:before{
	background-image: url($asset/images/button_save_contur_disabled.png);
}

.button.contur.disabled.service:before{
	background-image: url($asset/images/button_service_contur_disabled.png);
}

.button.contur.disabled.update:before{
	background-image: url($asset/images/button_update_contur_disabled.png);
}

.button.contur.disabled.view:before,
.button.contur.disabled.search:before{
	background-image: url($asset/images/button_view_contur_disabled.png);
}

.button-main{
    display: inline-block;
    max-width: 250px;
    height: 100px;
    margin-left: 20px;
    padding: 12px 40px;
	border: solid 4px #175e91;
    color: #175e91 !important;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.button-main:hover,
.button-main:focus{
    border-color: #144c75;
    color: #144c75 !important;
}
