nav#stack{
	padding-top: 10px;
	cursor: default;
}
	
	nav#stack #overflow{
		position: relative;
		overflow: hidden;
	}
		
		nav#stack ul{
			margin-left: 22px;
			white-space: nowrap;
		}
			
			nav#stack ul li{
				display: inline-block;
				margin-left: 10px;
				font-size: 14px;
				vertical-align: baseline;
			}
			
			nav#stack ul li:first-child{
				margin-left: 0;
			}
				
				nav#stack ul:last-child li h2 a{
					color: #505050;
				}
				
				nav#stack ul li a{
					color: #777;
					text-decoration: none;
					vertical-align: baseline;
				}
				
				nav#stack ul.hover li a{
					color: #086bc6;
					text-decoration: underline;
				}
				
				nav#stack ul.hover li a:hover{
					color: #003986;
				}
					
					nav#stack ul li.disabled p{
						color: #bbb;
					}
					
	nav#stack #curtain-left-trans,
	nav#stack #curtain-right-trans,
	nav#stack #curtain-right{
		display: inline-block;
		position: absolute;
		top: 10px;
	}
	
	nav#stack #curtain-left-trans,
	nav#stack #curtain-right-trans #curtain{
		background-color: rgba(255, 255, 255, 0.8);
	}
	
	nav#stack #curtain-left-trans{
		width: 22px;
		background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		z-index: 1;
	}
	
	nav#stack #curtain-right-trans{
		right: 50px;
		width: 22px;
		height: 10px;
	}
		
		nav#stack #curtain-right-trans #curtain{
			display: inline-block;
			position: absolute;
			width: 22px;
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		}
		
	nav#stack #curtain-right{
		right: 0;
	}
		
		nav#stack #curtain-right #curtain{
			display: inline-block;
			position: absolute;
			right: 0;
			width: 50px;
			padding: 0 9px;
			background-color: white;
		}
			
			nav#stack #curtain-right #curtain #button-left,
			nav#stack #curtain-right #curtain #button-right{
				display: inline-block;
				width: 12px;
				height: 100%;
				background-position: left center;
				background-repeat: no-repeat;
			}
			
			nav#stack #curtain-right #curtain #button-left{
				background-image: url($asset/images/scheme_stack_button_left.png);
			}
			
			nav#stack #curtain-right #curtain #button-left:hover{
				background-image: url($asset/images/scheme_stack_button_left_hover.png);
			}
			
			nav#stack #curtain-right #curtain #button-left.active{
				background-image: url($asset/images/scheme_stack_button_left_active.png);
			}
			
			nav#stack #curtain-right #curtain #button-left.disabled{
				background-image: url($asset/images/scheme_stack_button_left_disabled.png);
			}
			
			nav#stack #curtain-right #curtain #button-right{
				margin-left: 8px;
				background-image: url($asset/images/scheme_stack_button_right.png);
			}
			
			nav#stack #curtain-right #curtain #button-right:hover{
				background-image: url($asset/images/scheme_stack_button_right_hover.png);
			}
			
			nav#stack #curtain-right #curtain #button-right.active{
				background-image: url($asset/images/scheme_stack_button_right_active.png);
			}
			
			nav#stack #curtain-right #curtain #button-right.disabled{
				background-image: url($asset/images/scheme_stack_button_right_disabled.png);
			}
			