div.buttons-table div.bt-aligner{
	display: inline-block;
	overflow: hidden;
}

div.buttons-table div.bt-aligner.cover{
	height: 1px;
	overflow: hidden;
}
	
	div.buttons-table div.bt-aligner.cover .button{
		margin-top: 1px;
	}
		
		div.buttons-table div.bt-aligner table.bt-table td{
			padding: 10px;
			text-align: center;
		}
