div.data-table > table > tbody > tr > td{
	vertical-align: middle;
}

div.data-table > table > tbody > tr + tr > td{
	padding-top: 8px;
}

div.data-table > table > tbody > tr.container > td,
div.data-table > table > tbody > tr.dt-attr-hidden > td{
	padding-top: 0 !important;
}

div.data-table > table > tbody > tr.dt-block > td > div{
	position: relative;
	min-height: 20px;
}
	
	div.data-table > table > tbody > tr.dt-block > td .dt-block-title{
		display: inline-block;
		max-width: 500px;
		padding: 0 10px 0 10px;
		background-color: white;
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-title{
		font-family: pt_sans_bold;
		font-size: 16px;
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle{
		display: inline-block;
		width: 30px;
		height: 20px;
		background: white url($asset/images/dt_toggle_down.png) 0 3px no-repeat;
		cursor: pointer;
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle.active{
		background-image: url($asset/images/dt_toggle_up.png);
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle:hover{
		background-image: url($asset/images/dt_toggle_down_hover.png);
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle.active:hover{
		background-image: url($asset/images/dt_toggle_up_hover.png);
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle:active{
		background-image: url($asset/images/dt_toggle_down_active.png);
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-toggle.active:active{
		background-image: url($asset/images/dt_toggle_up_active.png);
	}
	
	div.data-table > table > tbody > tr.dt-block > td div.dt-block-border{
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
		height: 1px;
		background-color: #ccc;
		z-index: -1;
	}

div.data-table > table > tbody > tr.dt-attr > td > div{
	display: inline-block;
	position: relative;
}

div.data-table > table > tbody > tr.dt-attr > td.cell-name.dt-cell-top{
	vertical-align: top;
	padding-top: 13px;
}

div.data-table > table > tbody > tr.dt-attr > td.cell-name.dt-cell-top.pt3{
	padding-top: 35px !important;
}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-name > div > label{
		max-width: 310px;
	}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-name > div > label.title{
		margin: 0;
	}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-name div.tooltip{
		margin-top: 4px;
	}
	
div.data-table > table > tbody > tr.dt-attr > td.cell-value{
	padding-left: 30px;
}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-value span.required{
		display: none;
	}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-value > div > input[type=text],
	div.data-table > table > tbody > tr.dt-attr > td.cell-value > div > input[type=password],
	div.data-table > table > tbody > tr.dt-attr > td.cell-value > div > textarea{
		width: 475px;
	}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-value > div > div.errorMessage{
		position: absolute;
		right: 0;
		top: 100%;
		width: 248px;
		margin-top: 5px;
		padding: 7px 10px;
		background: #ffeded;
		border: solid 1px #fca7a7;
		box-shadow: 0 1px 4px rgba(0,0,0,0.2);
		color: #484848;
		font-size: 16px;
		line-height: 17px;
		z-index: 1;
	}
	
	div.data-table > table > tbody > tr.dt-attr > td.cell-value > div > div.errorMessage:before{
		position: absolute;
		left: 50%;
		top: -7px;
		width: 13px;
		height: 7px;
		margin-left: -4px;
		background: url($asset/images/dt_em_needle.png);
		content: '';
	}
