div.console{
	position: absolute;
	left: 20px;
	top: 20px;
	min-width: 100px;
	min-height: 50px;
	padding: 10px;
	padding-right: 45px;
	background: #f5f5f5;
	border: solid 1px #dddddd;
	
	-khtml-opacity: 0.95;
	-moz-opacity: 0.95;
	opacity: 0.95;
	filter: alpha(opacity: 95);
	
	z-index: 100;
}
	
	div.console div.console-text{
		color: black;
		font-weight: bold;
	}
	
	div.console div.console-close{
		position: absolute;
		right: 3px;
		top: 3px;
		width: 38px;
		height: 38px;
		background-image: url($asset/images/console_close.png);
		background-position: center center;
		background-repeat: no-repeat;
		
		-icab-border-radius: 3px;
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	
	div.console div.console-close:hover{
		background-color: #e7ebef;
		background-image: url($asset/images/console_close_hover.png);
	}
	
	div.console div.console-close:active{
		background-color: #f1d26c;
	}
